<main id="main" class="main">

    <div class="pagetitle">
      <h1>Management Requests</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Manage Requests</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->



<div class="section dashboard">
  <div class="row">


    <div class="container">
        <div class="row">
                        <!-- Sales Card -->
        <div class="col my-3 text-center">
            <div class="card info-card sales-card">
    
    
    
              <div class="card-body my-4 pb-1 text-center">
                <h5 class="card-title">Companies</h5>
    
                <div class="d-flex justify-content-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-building"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%=OwnerCountAdmin%></h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
    
                  </div>
                </div>
              </div>
    
            </div>
          </div><!-- End Sales Card -->
    
        <!-- Sales Card -->
          <div class="col my-3 text-center">
            <div class="card info-card sales-card">
    
              <div class="card-body my-4 pb-1 text-center">
                <h5 class="card-title">Branches</h5>
    
                <div class="d-flex justify-content-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-buildings"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%=placeCountAdmin%></h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
    
                  </div>
                </div>
              </div>
    
            </div>
          </div><!-- End Sales Card -->
    
        <!-- Sales Card -->
          <div class="col my-3 text-center">
            <div class="card info-card sales-card">
    
              <div class="card-body my-4 pb-1 text-center">
                <h5 class="card-title">Requests</h5>
    
                <div class="d-flex justify-content-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-plus-circle-dotted"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%=placeCountAdminPending%></h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
    
                  </div>
                </div>
              </div>
    
            </div>
          </div><!-- End Sales Card -->
    
        </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#requests">Requests</button>
            </li>
            <li class="nav-item">
                <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#waiting">Waiting</button>
            </li>
            <li class="nav-item">
                <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#history">History</button>
            </li>
        </ul>

                    <div class="pt-3">    


                        <div class="tab-content">

                            <div class="tab-pane fade show active profile-overview" id="requests">
                                <div class="card" style="box-shadow: none;">
                                  <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                                        <input type="text" name="query" placeholder="Search By Request ID" title="Enter search keyword" id="search-input">
                                        <button type="submit" title="Search" id="search"><i class="bi bi-search"></i></button>
                                    </form>
                                </div><!-- End Search Bar -->
                                  <div class="filter d-flex">
            
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-filter"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li><a class="dropdown-item active" href="/admin/auth/branchesbooking">All</a></li>
                                        <li><a class="dropdown-item" href="?filter=park">Parks</a></li>
                                        <li><a class="dropdown-item" href="?filter=cafe">Cafes</a></li>
                                        <li><a class="dropdown-item" href="?filter=restaurant">Resturants</a></li>
                                        <li><a class="dropdown-item" href="?filter=workspace">Workspaces</a></li>
                                    </ul>
                                </div>

                                </div>

                                <div class="col">
                                    <div class="row">

                                        <div class="ps-3 pe-3 table-responsive p-0">
                                          <table class="table align-items-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Company</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Branch</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Rate</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">State</th>                                                                                                
                                                    <th class="text-secondary opacity-7"></th>
                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <% places.forEach(function(place){ %>
                                                <% if(place.status == 'pending'){ %>
                                                <tr>
                    
                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0 mt-4"><%= place._id %></p>
                                                    </td>

                                                    <td>
                                                        <div class="d-flex">
                                                            <div>
                                                                <img src="assets/img/tostitos.webp" class="avatar avatar-sm me-3" alt="user1">
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <p class="card-description pt-2"><i class="bi bi-person"></i> <span class="fw-bold"></span> Yasser Farghal</p>
                                                                <p class="card-description"><i class="bi bi-building"></i> <span class="fw-bold"></span> Tostitos</p>
                                                            </div>
                                                        </div>
                                                    </td>
                    
                                                    <td>
                                                      <div class="d-flex">
                                                        <div>
                                                            <img src="assets/img/product-1 1.svg" class="avatar avatar-sm me-3" alt="user1">
                                                        </div>
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <p class="card-description pt-2"><i class="bi bi-geo-alt"></i> <span class="fw-bold"></span><%=place.city%>,<%=place.area%></p>
                                                            <p class="card-description"><i class="bi bi-person-badge"></i> <span class="fw-bold"></span><%=place.manager?.managername%></p>
                                                        </div>
                                                    </div>                                                     
                                                  </td>

                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0 mt-4"><%=place.type%></p>
                                                    </td>

                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0 mt-4">5.0</p>
                                                    </td>

                                                    <td>
                                                      <p class="text-xs font-weight-bold mb-0 mt-4"><span class="badge bg-info"><%=place.status%></span></p>
                                                    </td>

                    
                    
                                                    <td class="action mt-3">
                                                        <button class="open-button btn mb-1" id="btnDetails" onclick="document.getElementById('request-popup-<%= place._id %>').style.display = 'block' " >MANAGE</button>                    
                                                    </td>
                                                </tr>
                                                <% }; %>
                                                <% }); %>
                    
                                            </tbody>
                                        </table>

                                        <% places.forEach(function(place){ %>
                                        <div id="request-popup-<%= place._id %>" class="request-popup">

                                        <div class="request-popup-content">
                                          <div class="card p-3 text-center mb-5">
                      
                                             
                      
                                                  <div class="container">
                                                      <div class="row">
                      
                                                        <ul class="nav nav-tabs">
                                                          <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link active">Owner</a></li>
                                                            <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link">Branch Details</a></li>
                                                            <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link">Services</a></li>
                                                            <li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link">Reception Hours</a></li>
                                                            <li class="nav-item"><a href="#tab5" data-toggle="tab" class="nav-link">Pricing list</a></li>
                                                        </ul>
                                                        
                                                        <div class="tab-content">
                    
                                                          <div class="tab-content">
    
                                                            <div id="tab1" class="tab-pane active">
                                                        
                                                              <div class="container justify-content-center my-4" >
                                                                <h5 class="card-title mb-3 text-center">Manager</h5>
                                                                <div class="card">
                                                                    <div style="background-color: none;" class=" text-center pt-4" id="selectedRowData">
                                                                        <img src=" <%= place.manager?.image %> " alt="Image" class="card-image">
                                                                        <div class="card-data mt-2">
                                                                          <p class="card-description" id="managerName"><i class="bi bi-person"></i> <span class="fw-bold">Manager:</span> <%= place.manager?.managername %> </p>
                                                                          <p class="card-description" id="managerEmail"><i class="bi bi-envelope"></i> <span class="fw-bold">E-mail:</span> <%= place.manager?.email %> </p>
                                                                          <p class="card-description" id="managerPhone"><i class="bi bi-telephone"></i> <span class="fw-bold">Phone:</span> <%= place.manager?.phone %> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                      
                      
                                                            <div class="container">
                                                              <div class="row">
                                                                     <div class="col">
                                                                      <div class="card-profile ">
                                                                        <div class="card-body profile-card d-flex flex-column align-items-center">
                                                                          <h5 class="card-title mb-3 text-center">Images</h5>
                                              
                                                                          <div class="container-fluid">
                                                                            <div class="scrolling-wrapper row flex-row flex-nowrap text-center">
                                                                              
                                              
                                                                                  <img src="<%= place.images[0] %>" alt="">
                                              
                                              
                                              
                                              
                                                                              
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                      
                                                                    </div>
                      
                      
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-file-text"></i> About: <span class="fw-normal"><%= place.desc %></span></div>
                                                                    </div>
                                            
                                                  
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-geo-alt"></i> Location: <a class="location" href="<%= place.address %>"><span class="fw-normal"><%= place.city %> , <%= place.area %></span></a> </div>
                                                                    </div>
                                                  
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-cash"></i> Min-Budget: <span class="fw-normal"><%= place.budget %></span></div>
                                                                    </div>
                                                  
                                          
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-person-bounding-box"></i> Capacity: <span class="fw-normal"><%= place.capacity %></span></div>
                                                                    </div>
                                          
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-star"></i> Rate: <span class="fw-normal">5.0</span></div>
                                                                    </div>
                                          
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-phone"></i> Phone: <span class="fw-normal"><%= place.phone %></span></div>
                                                                    </div>
                                                  
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-envelope"></i> Email: <span class="fw-normal"><%= place.email %></span></div>
                                                                    </div>
                                          
                                                                    <div class="row mb-2">
                                                                      <div class="col label fw-bold"><i class="bi bi-upc"></i> Branch ID: <span class="fw-normal"><%= place.id %></span></div>
                                                                    </div>
                                                                    <div class="row">
                                                                      <p class="pe-2"><span class="badge bg-info"><%= place.status%></span></p> 
                                                                    </div>
                                          
                                          
                                                                     </div>
                                                                     <div class="col">
                                                                       
                                                            <div class="services container">
                                                              <h5 class="card-title mb-3 text-center">Services</h5>
                                        
                                                              <div class="row justify-content-between">
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i> <%= place.service1 %>
                                                                      </p> 
                                                                  </div>
                      
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i> <%= place.service2 %>
                                                                      </p> 
                                                                  </div>
                      
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i> <%= place.service3 %>
                                                                      </p> 
                                                                  </div>
                      
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i> <%= place.service4 %>
                                                                      </p> 
                                                                  </div>
                      
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i><%= place.service5 %>
                                                                      </p> 
                                                                  </div>
                      
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i> <%= place.service6 %>
                                                                  </div>
                                      
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i> <%= place.service7 %>
                                                                      </p> 
                                                                  </div>
                                                                  <div class="col label ">
                                                                      <p>
                                                                          <i class="bi bi-check-circle text-success"></i> <%= place.service8 %>
                                                                      </p> 
                                                                  </div>
                                                              </div>
                                  
                      
                                      
                                  
                                                            </div>
                                                                     </div>
                                                                     
                                                              </div>
                                                             </div>
                                                           <div class="container">
                                                            
                                                            <div class="row">
                                                              <h5 class="card-title mb-3 text-center">Reception Hour</h5>
                                                              
                      
                                                            <div class="table-responsive pt-2">
                      
                                                              <table class="table align-items-center mb-0">
                      
                                                                <thead>
                                                                  <tr>
                                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                                                                  </tr>
                                                                </thead>
                                                                <tbody>
                                                                  <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                    <% if(receptionHour.sunday){ %>
                                                                      
                                                                      <tr>
                                                                        <td>
                                                                          <div class="d-flex px-2 py-1">
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                              <h6 class="mb-0 text-sm mt-3">Sunday</h6>
                                                                            </div>
                                                                          </div>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.from%></p>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.until%></p>
                                                                        </td>
                                                                      </tr>
                                                                      <% }%>
                                                                    <% })%>
                                                                  <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                    <% if(receptionHour.monday){ %>
                                                                      
                                                                      <tr>
                                                                        <td>
                                                                          <div class="d-flex px-2 py-1">
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                              <h6 class="mb-0 text-sm mt-3">monday</h6>
                                                                            </div>
                                                                          </div>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.from%></p>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.until%></p>
                                                                        </td>
                                                                      </tr>
                                                                      <% }%>
                                                                    <% })%>
                                                                  <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                    <% if(receptionHour.thuesday){ %>
                                                                      
                                                                      <tr>
                                                                        <td>
                                                                          <div class="d-flex px-2 py-1">
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                              <h6 class="mb-0 text-sm mt-3">thuesday</h6>
                                                                            </div>
                                                                          </div>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.from%></p>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.until%></p>
                                                                        </td>
                                                                      </tr>
                                                                      <% }%>
                                                                    <% })%>
                                                                  <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                    <% if(receptionHour.wendesday){ %>
                                                                      
                                                                      <tr>
                                                                        <td>
                                                                          <div class="d-flex px-2 py-1">
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                              <h6 class="mb-0 text-sm mt-3">wendesday</h6>
                                                                            </div>
                                                                          </div>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.from%></p>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.until%></p>
                                                                        </td>
                                                                      </tr>
                                                                      <% }%>
                                                                    <% })%>
                                                                  <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                    <% if(receptionHour.thursday){ %>
                                                                      
                                                                      <tr>
                                                                        <td>
                                                                          <div class="d-flex px-2 py-1">
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                              <h6 class="mb-0 text-sm mt-3">thursday</h6>
                                                                            </div>
                                                                          </div>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.from%></p>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.until%></p>
                                                                        </td>
                                                                      </tr>
                                                                      <% }%>
                                                                    <% })%>
                                                                  <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                    <% if(receptionHour.friday){ %>
                                                                      
                                                                      <tr>
                                                                        <td>
                                                                          <div class="d-flex px-2 py-1">
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                              <h6 class="mb-0 text-sm mt-3">friday</h6>
                                                                            </div>
                                                                          </div>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.from%></p>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.until%></p>
                                                                        </td>
                                                                      </tr>
                                                                      <% }%>
                                                                    <% })%>
                                                                  <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                    <% if(receptionHour.saturday){ %>
                                                                      
                                                                      <tr>
                                                                        <td>
                                                                          <div class="d-flex px-2 py-1">
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                              <h6 class="mb-0 text-sm mt-3">saturday</h6>
                                                                            </div>
                                                                          </div>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.from%></p>
                                                                        </td>
                                                                        <td>
                                                                          <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.until%></p>
                                                                        </td>
                                                                      </tr>
                                                                      <% }%>
                                                                    <% })%>
                                      
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                            </div>
                                                           </div>
                      
                                                            
                                                            </div>
                      
                      
                                                        </div>
                    
                                                        </div>
                    
                                                        <form  method="POST" action="/admin/places/update-status/<%= place.id %>">
                                                          <input type="hidden" name="status" value="approved">
                                                          <button type="submit" title="APPROVED" class="btn button2 cancel mt-3 w-100">Accepted</button>

                                                         
                                                        </form>
                                                          <button type="button" class="btn button2 rejected mt-3" >REJETD</button>
                                                          <button type="button" class="btn button2 close mt-3" onclick="document.getElementById('request-popup-<%= place._id %>').style.display = 'none'">Close</button>
                    
                    
                                                      </div>
                                                  </div>
                                      
                                             
                      
                      
                                  
                                  
                                  
                                              
                                              
                                          </div>
                                        </div>
                                      </div>
                                      <% }); %>
                                          </div>

                                    </div>
                            </div>
                            </div>




                            <div class="tab-pane fade profile-overview" id="waiting">
                              <div class="card" style="box-shadow: none;">
                                <div class="search-bar">
                                  <form class="search-form d-flex align-items-center" method="POST" action="#">
                                      <input type="text" name="query" placeholder="Search By Request ID" title="Enter search keyword" id="search-input">
                                      <button type="submit" title="Search" id="search"><i class="bi bi-search"></i></button>
                                  </form>
                              </div><!-- End Search Bar -->
                              <div class="filter d-flex">
            
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-filter"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item active" href="/admin/auth/branchesbooking">All</a></li>
                                    <li><a class="dropdown-item" href="?filter=park">Parks</a></li>
                                    <li><a class="dropdown-item" href="?filter=cafe">Cafes</a></li>
                                    <li><a class="dropdown-item" href="?filter=restaurant">Resturants</a></li>
                                    <li><a class="dropdown-item" href="?filter=workspace">Workspaces</a></li>
                                </ul>
                            </div>

                              </div>

                              <div class="col">
                                  <div class="row">

                                      <div class="ps-3 pe-3 table-responsive p-0">
                                        <table class="table align-items-center mb-0">
                                          <thead>
                                              <tr>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Company</th>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Branch</th>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Rate</th>
                                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">State</th>                                                                                                
                                                  <th class="text-secondary opacity-7"></th>
                  
                                              </tr>
                                          </thead>
                                          <tbody>
                                            <% places.forEach(function(place){ %>
                                              <% if(place.status == 'approved'){ %>

                                             <tr>
                    
                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0 mt-4"><%= place._id %></p>
                                                    </td>

                                                    <td>
                                                        <div class="d-flex">
                                                            <div>
                                                                <img src="assets/img/tostitos.webp" class="avatar avatar-sm me-3" alt="user1">
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <p class="card-description pt-2"><i class="bi bi-person"></i> <span class="fw-bold"></span> Yasser Farghal</p>
                                                                <p class="card-description"><i class="bi bi-building"></i> <span class="fw-bold"></span> Tostitos</p>
                                                            </div>
                                                        </div>
                                                    </td>
                    
                                                    <td>
                                                      <div class="d-flex">
                                                        <div>
                                                            <img src="assets/img/product-1 1.svg" class="avatar avatar-sm me-3" alt="user1">
                                                        </div>
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <p class="card-description pt-2"><i class="bi bi-geo-alt"></i> <span class="fw-bold"></span><%=place.city%>,<%=place.area%></p>
                                                            <p class="card-description"><i class="bi bi-person-badge"></i> <span class="fw-bold"></span><%=place.manager?.managername%></p>
                                                        </div>
                                                    </div>                                                     
                                                  </td>

                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0 mt-4"><%=place.type%></p>
                                                    </td>

                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0 mt-4">5.0</p>
                                                    </td>

                                                    <td>
                                                      <p class="text-xs font-weight-bold mb-0 mt-4"><span class="badge bg-warning"><%=place.status%> Not Confirmed yet</span></p>
                                                    </td>

                    
                    
                                                    <td class="action mt-3">
                                                        <button class="open-button btn mb-1" id="btnDetails" onclick="document.getElementById('request-popup-approved-<%= place._id %>').style.display = 'block' " >MANAGE</button>                    
                                                    </td>
                                                </tr>
                                              <% }; %>
                                              <% }); %>
                  
                                          </tbody>
                                      </table>

                                          
                                      <div id="waiting-popup" class="waiting-popup">

                                      <div class="waiting-popup-content">
                                        <div class="card p-3 text-center mb-5">
                    
                                            <form id="waiting-form">
                    
                                                <div class="container">
                                                    <div class="row">
                    
                                                    
                  
                                                      <div class="tab-content">
                  
                                                        <% places.forEach(function(place){ %>
                                                          <div id="request-popup-approved-<%= place._id %>" class="request-popup">
                  
                                                          <div class="request-popup-content">
                                                            <div class="card p-3 text-center mb-5">
                                        
                                                                <form id="request-form">
                                        
                                                                    <div class="container">
                                                                        <div class="row">
                                        
                                                                          <ul class="nav nav-tabs">
                                                                            <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link active">Owner</a></li>
                                                                              <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link">Branch Details</a></li>
                                                                              <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link">Services</a></li>
                                                                              <li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link">Reception Hours</a></li>
                                                                              <li class="nav-item"><a href="#tab5" data-toggle="tab" class="nav-link">Pricing list</a></li>
                                                                          </ul>
                                      
                                                                          <div class="tab-content">
                                      
                                                                            <div class="tab-content">
                      
                                                                              <div id="tab1" class="tab-pane active">
                                                                          
                                                                                <div class="container justify-content-center my-4" >
                                                                                  <h5 class="card-title mb-3 text-center">Manager</h5>
                                                                                  <div class="card">
                                                                                      <div style="background-color: none;" class=" text-center pt-4" id="selectedRowData">
                                                                                          <img src=" <%= place.manager?.image %> " alt="Image" class="card-image">
                                                                                          <div class="card-data mt-2">
                                                                                            <p class="card-description" id="managerName"><i class="bi bi-person"></i> <span class="fw-bold">Manager:</span> <%= place.manager?.managername %> </p>
                                                                                            <p class="card-description" id="managerEmail"><i class="bi bi-envelope"></i> <span class="fw-bold">E-mail:</span> <%= place.manager?.email %> </p>
                                                                                            <p class="card-description" id="managerPhone"><i class="bi bi-telephone"></i> <span class="fw-bold">Phone:</span> <%= place.manager?.phone %> </p>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                        
                                        
                                                                              <div class="container">
                                                                                <div class="row">
                                                                                       <div class="col">
                                                                                        <div class="card-profile ">
                                                                                          <div class="card-body profile-card d-flex flex-column align-items-center">
                                                                                            <h5 class="card-title mb-3 text-center">Images</h5>
                                                                
                                                                                            <div class="container-fluid">
                                                                                              <div class="scrolling-wrapper row flex-row flex-nowrap text-center">
                                                                                                
                                                                
                                                                                                    <img src="<%= place.images[0] %>" alt="">
                                                                
                                                                
                                                                
                                                                
                                                                                                
                                                                                              </div>
                                                                                          </div>
                                                                                          </div>
                                                                                        
                                                                                      </div>
                                        
                                        
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-file-text"></i> About: <span class="fw-normal"><%= place.desc %></span></div>
                                                                                      </div>
                                                              
                                                                    
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-geo-alt"></i> Location: <a class="location" href="<%= place.address %>"><span class="fw-normal"><%= place.city %> , <%= place.area %></span></a> </div>
                                                                                      </div>
                                                                    
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-cash"></i> Min-Budget: <span class="fw-normal"><%= place.budget %></span></div>
                                                                                      </div>
                                                                    
                                                            
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-person-bounding-box"></i> Capacity: <span class="fw-normal"><%= place.capacity %></span></div>
                                                                                      </div>
                                                            
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-star"></i> Rate: <span class="fw-normal">5.0</span></div>
                                                                                      </div>
                                                            
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-phone"></i> Phone: <span class="fw-normal"><%= place.phone %></span></div>
                                                                                      </div>
                                                                    
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-envelope"></i> Email: <span class="fw-normal"><%= place.email %></span></div>
                                                                                      </div>
                                                            
                                                                                      <div class="row mb-2">
                                                                                        <div class="col label fw-bold"><i class="bi bi-upc"></i> Branch ID: <span class="fw-normal"><%= place.id %></span></div>
                                                                                      </div>
                                                                                      <div class="row">
                                                                                        <p class="pe-2"><span class="badge bg-info"><%= place.status%></span></p> 
                                                                                      </div>
                                                            
                                                            
                                                                                       </div>
                                                                                       <div class="col">
                                                                                         
                                                                              <div class="services container">
                                                                                <h5 class="card-title mb-3 text-center">Services</h5>
                                                          
                                                                                <div class="row justify-content-between">
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i> <%= place.service1 %>
                                                                                        </p> 
                                                                                    </div>
                                        
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i> <%= place.service2 %>
                                                                                        </p> 
                                                                                    </div>
                                        
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i> <%= place.service3 %>
                                                                                        </p> 
                                                                                    </div>
                                        
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i> <%= place.service4 %>
                                                                                        </p> 
                                                                                    </div>
                                        
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i><%= place.service5 %>
                                                                                        </p> 
                                                                                    </div>
                                        
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i> <%= place.service6 %>
                                                                                    </div>
                                                        
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i> <%= place.service7 %>
                                                                                        </p> 
                                                                                    </div>
                                                                                    <div class="col label ">
                                                                                        <p>
                                                                                            <i class="bi bi-check-circle text-success"></i> <%= place.service8 %>
                                                                                        </p> 
                                                                                    </div>
                                                                                </div>
                                                    
                                        
                                                        
                                                    
                                                                              </div>
                                                                                       </div>
                                                                                       
                                                                                </div>
                                                                               </div>
                                                                             <div class="container">
                                                                              
                                                                              <div class="row">
                                                                                <h5 class="card-title mb-3 text-center">Reception Hour</h5>
                                                                                
                                        
                                                                              <div class="table-responsive pt-2">
                                        
                                                                                <table class="table align-items-center mb-0">
                                        
                                                                                  <thead>
                                                                                    <tr>
                                                                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                                                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                                                                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                                                                                    </tr>
                                                                                  </thead>
                                                                                  <tbody>
                                                                                    <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                                      <% if(receptionHour.sunday){ %>
                                                                                        
                                                                                        <tr>
                                                                                          <td>
                                                                                            <div class="d-flex px-2 py-1">
                                                                                              <div class="d-flex flex-column justify-content-center">
                                                                                                <h6 class="mb-0 text-sm mt-3">Sunday</h6>
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.from%></p>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.until%></p>
                                                                                          </td>
                                                                                        </tr>
                                                                                        <% }%>
                                                                                      <% })%>
                                                                                    <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                                      <% if(receptionHour.monday){ %>
                                                                                        
                                                                                        <tr>
                                                                                          <td>
                                                                                            <div class="d-flex px-2 py-1">
                                                                                              <div class="d-flex flex-column justify-content-center">
                                                                                                <h6 class="mb-0 text-sm mt-3">monday</h6>
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.from%></p>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.until%></p>
                                                                                          </td>
                                                                                        </tr>
                                                                                        <% }%>
                                                                                      <% })%>
                                                                                    <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                                      <% if(receptionHour.thuesday){ %>
                                                                                        
                                                                                        <tr>
                                                                                          <td>
                                                                                            <div class="d-flex px-2 py-1">
                                                                                              <div class="d-flex flex-column justify-content-center">
                                                                                                <h6 class="mb-0 text-sm mt-3">thuesday</h6>
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.from%></p>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.until%></p>
                                                                                          </td>
                                                                                        </tr>
                                                                                        <% }%>
                                                                                      <% })%>
                                                                                    <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                                      <% if(receptionHour.wendesday){ %>
                                                                                        
                                                                                        <tr>
                                                                                          <td>
                                                                                            <div class="d-flex px-2 py-1">
                                                                                              <div class="d-flex flex-column justify-content-center">
                                                                                                <h6 class="mb-0 text-sm mt-3">wendesday</h6>
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.from%></p>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.until%></p>
                                                                                          </td>
                                                                                        </tr>
                                                                                        <% }%>
                                                                                      <% })%>
                                                                                    <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                                      <% if(receptionHour.thursday){ %>
                                                                                        
                                                                                        <tr>
                                                                                          <td>
                                                                                            <div class="d-flex px-2 py-1">
                                                                                              <div class="d-flex flex-column justify-content-center">
                                                                                                <h6 class="mb-0 text-sm mt-3">thursday</h6>
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.from%></p>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.until%></p>
                                                                                          </td>
                                                                                        </tr>
                                                                                        <% }%>
                                                                                      <% })%>
                                                                                    <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                                      <% if(receptionHour.friday){ %>
                                                                                        
                                                                                        <tr>
                                                                                          <td>
                                                                                            <div class="d-flex px-2 py-1">
                                                                                              <div class="d-flex flex-column justify-content-center">
                                                                                                <h6 class="mb-0 text-sm mt-3">friday</h6>
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.from%></p>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.until%></p>
                                                                                          </td>
                                                                                        </tr>
                                                                                        <% }%>
                                                                                      <% })%>
                                                                                    <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                                                      <% if(receptionHour.saturday){ %>
                                                                                        
                                                                                        <tr>
                                                                                          <td>
                                                                                            <div class="d-flex px-2 py-1">
                                                                                              <div class="d-flex flex-column justify-content-center">
                                                                                                <h6 class="mb-0 text-sm mt-3">saturday</h6>
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.from%></p>
                                                                                          </td>
                                                                                          <td>
                                                                                            <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.until%></p>
                                                                                          </td>
                                                                                        </tr>
                                                                                        <% }%>
                                                                                      <% })%>
                                                        
                                                                                  </tbody>
                                                                                </table>
                                                                              </div>
                                                                              </div>
                                                                             </div>
                                        
                                                                              
                                                                              </div>
                                        
                                        
                                                                          </div>
                                      
                                                                          </div>
                                      
                                                                          <div class="row mt-3">  
                                                                            <form  method="POST" action="/admin/places/update-status/<%= place.id %>">
                                                                              <input type="hidden" name="status" value="confirmed">
                                                                              <button type="submit" title="CONFIRMED" class="btn button2 cancel mt-3 w-100">confirmed</button>
                                                                            </form>
                                                                            <form  method="POST" action="/admin/places/update-status/<%= place.id %>">
                                                                              <input type="hidden" name="status" value="declined">
                                                                              <button type="submit" title="DECLINE" class="btn button2 cancel mt-3 w-100">Cancelation</button>
                                                                            </form>
                                                                          </div>
                                                                            <button type="button" class="btn button2 close mt-3" onclick="document.getElementById('request-popup-approved-<%= place._id %>').style.display = 'none'">Close</button>
                                      
                                      
                                                                        </div>
                                                                    </div>
                                                        
                                                                </form>
                                        
                                        
                                                    
                                                    
                                                    
                                                                
                                                                
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <% }); %>
                                                      </div>
                  
                                                        
                  
                  
                                                    </div>
                                                </div>
                                    
                                            </form>
                    
                    
                                
                                
                                
                                            
                                            
                                        </div>
                                      </div>
                                    </div>
                                        </div>

                                  </div>
                          </div>
                          </div>






                          <div class="tab-pane fade profile-overview" id="history">
                            <div class="card" style="box-shadow: none;">
                              <div class="search-bar">
                                <form class="search-form d-flex align-items-center" method="POST" action="#">
                                    <input type="text" name="query" placeholder="Search By Request ID" title="Enter search keyword" id="search-input">
                                    <button type="submit" title="Search" id="search"><i class="bi bi-search"></i></button>
                                </form>
                            </div><!-- End Search Bar -->
                            <div class="filter d-flex">
            
                              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-filter"></i></a>
                              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                  <li><a class="dropdown-item active" href="/admin/auth/branchesbooking">All</a></li>
                                  <li><a class="dropdown-item" href="?filter=park">Parks</a></li>
                                  <li><a class="dropdown-item" href="?filter=cafe">Cafes</a></li>
                                  <li><a class="dropdown-item" href="?filter=restaurant">Resturants</a></li>
                                  <li><a class="dropdown-item" href="?filter=workspace">Workspaces</a></li>
                              </ul>
                          </div>
                            </div>

                            <div class="col">
                                <div class="row">

                                    <div class="ps-3 pe-3 table-responsive p-0">
                                      <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Company</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Branch</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Rate</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">State</th>                                                                                                
                                                <th class="text-secondary opacity-7"></th>
                
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% places.forEach(function(place){ %>
                                            <% if(place.status == 'declined'){ %>
                
                                            <tr>
                
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-4">12345dsfhal</p>
                                                </td>

                                                <td>
                                                    <div class="d-flex">
                                                        <div>
                                                            <img src="assets/img/tostitos.webp" class="avatar avatar-sm me-3" alt="user1">
                                                        </div>
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <p class="card-description pt-2"><i class="bi bi-person"></i> <span class="fw-bold"></span> Yasser Farghal</p>
                                                            <p class="card-description"><i class="bi bi-building"></i> <span class="fw-bold"></span> Tostitos</p>
                                                        </div>
                                                    </div>
                                                </td>
                
                                                <td>
                                                  <div class="d-flex">
                                                    <div>
                                                        <img src="assets/img/product-1 1.svg" class="avatar avatar-sm me-3" alt="user1">
                                                    </div>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <p class="card-description pt-2"><i class="bi bi-geo-alt"></i> <span class="fw-bold"></span> Giza, Al-Agouza</p>
                                                        <p class="card-description"><i class="bi bi-person-badge"></i> <span class="fw-bold"></span> Yasser Farghal</p>
                                                    </div>
                                                </div>                                                     
                                              </td>

                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-4">Park</p>
                                                </td>

                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-4">5.0</p>
                                                </td>

                                                <td>
                                                  <p class="text-xs font-weight-bold mb-0 mt-4"><span class="badge bg-danger">Rejected</span></p>
                                                </td>

                
                
                                                <td class="action mt-3">
                                                    <button class="delete-button btn mb-1"  ><i class="bi bi-trash"></i> DELETE</button>                    
                                                </td>
                                            </tr>
                                            <% }; %>
                                            <% }); %>
                
                                        </tbody>
                                    </table>


                                      </div>

                                </div>
                        </div>
                        </div>

                            </div>

                            <!-- End Left side columns -->
                        </div>
        </div>
      </div>
    </div>
  </div>
</div>



  </main>