
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Management Requests</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="chooseSearchBookingWay.html">Manage Requests Ways</a></li>
                <li class="breadcrumb-item active">Management Requsets</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section places">
      <div class="row">
          <section class="section profile">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="card">
                          <div class="card-body pt-3">
    
                              <div class="back-bar text-center mb-4">
                                  <a href="chooseSearchBookingWay.html"><i class="bi bi-arrow-left-circle-fill"></i>                   
                                  </a>
                              </div><!-- End Search Bar -->
    
                              <!-- Bordered Tabs -->
                              <ul class="nav nav-tabs nav-tabs-bordered">
                                  <li class="nav-item">
                                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#Requests">Requests</button>
                                  </li>
                                  <li class="nav-item">
                                      <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#Up-coming">Waiting</button>
                                  </li>
                                  <li class="nav-item">
                                      <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#history">History</button>
                                  </li>
                              </ul>
                              <div class="tab-content">
                                  <div class="tab-pane fade show active profile-overview">
                                      <div class="card">
                                          <div class="pt-3">    
                                              <div class="search-bar">
                                                  <form class="search-form d-flex align-items-center" method="POST" action="#">
                                                      <input type="text" name="query" placeholder="Search for Company" title="Enter search keyword" id="search-input">
                                                      <button type="submit" title="Search" id="search"><i class="bi bi-search"></i></button>
                                                  </form>
                                              </div><!-- End Search Bar -->
    
                                              <div class="tab-content">
    
                                                  <div class="tab-pane fade show active profile-overview" id="Requests">
                                                      <div class="">
                                                          <div class="filter d-flex">
                                                              
                                                              <div class="form-group justify-content-end">
                                                                  <select class="form-control" id="sel1">
                                                                    <option>All Months</option>
                                                                    <option>Jan</option>
                                                                    <option>Feb</option>
                                                                    <option>Mar</option>
                                                                    <option>Apr</option>
                                                                    <option>May</option>
                                                                    <option>Jun</option>
                                                                    <option>Jul</option>
                                                                    <option>Aug</option>
                                                                    <option>Sep</option>
                                                                    <option>Oct</option>
                                                                    <option>Nov</option>
                                                                    <option>Dec</option>
                                                                  </select>
                                                                </div>

                                                                <div class="form-group justify-content-end">
                                                                  <select class="form-control" id="sel1">
                                                                    <option>All Categories</option>
                                                                    <option>Parks</option>
                                                                    <option>Resturants</option>
                                                                    <option>Cafes</option>
                                                                    <option>Workspaces</option>
                                                                  </select>
                                                                </div>
                                                              
                                                              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                                              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                                  <li><a class="dropdown-item active" href="#">All</a></li>
                                                                  <li><a class="dropdown-item" href="#">High Rated</a></li>
                                                                  <li><a class="dropdown-item" href="#">Low Rated</a></li>
                                                              </ul>
                                                          </div>
    
                                                      </div>
    
                                                      <div class="col-lg-12">
                                                          <div class="row">

                                                          
    
                                                                    <!-- place Card -->
                                                                    <% leatesPlaces.forEach(function(place){ %>
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                        <div class="card info-card sales-card">                                             
                                                                            <div class="news">
                                                                                <div class="post-item">
                                                                                    <img src="<%= place.images[0] %>" alt="">
                                                                                    <h4>Request from  <%= place.name %> </h4>
                                                                                    <p><i class="bi bi-bookmark pe-1"></i> <%= place.type %></p>
                                                                                    <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                    <% if (place.status === 'pending') {%> 
                                                                                        <span class="badge bg-info m-3"><%= place.status %></span>
                                                                                      <%} else if(place.status === 'approved') { %>                                                                                
                                                                                        <span class="badge bg-success m-3"><%= place.status %></span>
                                                                                      <%} else if(place.status === 'declined') { %>                                                                                
                                                                                        <span class="badge bg-warning m-3"><%= place.status %></span>
                                                                                      <%} else { %>                                                                  
                                                                                      <span class="badge bg-danger m-3"><%= place.status %></span>
                                                                                      <%}%>         
          
                                                                                    
                
                                                                                    <p class="info"><a href="branchRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                                                                                                   
                      <form class="col-md-6" method="POST" action="/admin/places/update-status/<%= place.id %>">
                        <input type="hidden" name="status" value="approved">
                        <button type="submit" title="APPROVE" class="btn p-2 btn-primary me-auto ms-3 ">APPROVE</button>
                                                                                        </form>
                                                                                        <form class="col-md-6" method="POST" action="/admin/places/update-status/<%= place.id %>">
                                                                                            <input type="hidden" name="status" value="declined">
                                                                                            <button type="submit" title="DECLINE" class="button2 btn p-2 btn-primary main-btn ms-2">DECLINE</button>
                                                                                        </form>
    
                                                                                </div>
                                                                    
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }); %>
                                                                   
                                                          </div>
                                                  </div>
                                                  </div>
    
                                                  <div class="tab-pane fade profile-edit pt-3" id="Up-coming">
    
                                                          <div class="">
                                                              <div class="filter d-flex">
                                                                  
                                                                  <div class="form-group justify-content-end">
                                                                      <select class="form-control" id="sel1">
                                                                        <option>All Months</option>
                                                                        <option>Jan</option>
                                                                        <option>Feb</option>
                                                                        <option>Mar</option>
                                                                        <option>Apr</option>
                                                                        <option>May</option>
                                                                        <option>Jun</option>
                                                                        <option>Jul</option>
                                                                        <option>Aug</option>
                                                                        <option>Sep</option>
                                                                        <option>Oct</option>
                                                                        <option>Nov</option>
                                                                        <option>Dec</option>
                                                                      </select>
                                                                    </div>

                                                                    <div class="form-group justify-content-end">
                                                                      <select class="form-control" id="sel1">
                                                                        <option>All Categories</option>
                                                                        <option>Parks</option>
                                                                        <option>Resturants</option>
                                                                        <option>Cafes</option>
                                                                        <option>Workspaces</option>
                                                                      </select>
                                                                    </div>
                                                                  
                                                                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                                                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                                    <li><a class="dropdown-item active" href="#">All</a></li>
                                                                    <li><a class="dropdown-item" href="#">High Rated</a></li>
                                                                    <li><a class="dropdown-item" href="#">Low Rated</a></li>
                                                                  </ul>
                                                              </div>
      
                                                          </div>
    
                                                          <div class="col-lg-12">
                                                              <div class="row">
    
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-warning">Waiting</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="branchRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                                  <div class="ms-3 text-center">
                                                                                    <button class="btn p-2 p-lg-3 btn-primary me-auto ms-3 ">CONFIRM</button>
                                                                                    <button class="button2 btn p-2 p-lg-3 btn-primary main-btn ms-2">DECLINE</button>
                                                                                  </div>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-warning">Waiting</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="branchRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                                  <div class="ms-3 text-center">
                                                                                    <button class="btn p-2 p-lg-3 btn-primary me-auto ms-3 ">CONFIRM</button>
                                                                                    <button class="button2 btn p-2 p-lg-3 btn-primary main-btn ms-2">DECLINE</button>
                                                                                  </div>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-warning">Waiting</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="branchRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                                  <div class="ms-3 text-center">
                                                                                    <button class="btn p-2 p-lg-3 btn-primary me-auto ms-3 ">CONFIRM</button>
                                                                                    <button class="button2 btn p-2 p-lg-3 btn-primary main-btn ms-2">DECLINE</button>
                                                                                  </div>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-warning">Waiting</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="branchRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                                  <div class="ms-3 text-center">
                                                                                    <button class="btn p-2 p-lg-3 btn-primary me-auto ms-3 ">CONFIRM</button>
                                                                                    <button class="button2 btn p-2 p-lg-3 btn-primary main-btn ms-2">DECLINE</button>
                                                                                  </div>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-warning">Waiting</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="branchRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                                  <div class="ms-3 text-center">
                                                                                    <button class="btn p-2 p-lg-3 btn-primary me-auto ms-3 ">CONFIRM</button>
                                                                                    <button class="button2 btn p-2 p-lg-3 btn-primary main-btn ms-2">DECLINE</button>
                                                                                  </div>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-warning">Waiting</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="branchRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                                  <div class="ms-3 text-center">
                                                                                    <button class="btn p-2 p-lg-3 btn-primary me-auto ms-3 ">CONFIRM</button>
                                                                                    <button class="button2 btn p-2 p-lg-3 btn-primary main-btn ms-2">DECLINE</button>
                                                                                  </div>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
                                                              </div>
    
    
                                                      </div>    
                                                      </div>
    
                                                      <div class="tab-pane fade profile-edit pt-3" id="history">
    
                                                          <div class="">
                                                              <div class="filter d-flex">
                                                                  
                                                                  <div class="form-group justify-content-end">
                                                                      <select class="form-control" id="sel1">
                                                                        <option>All Months</option>
                                                                        <option>Jan</option>
                                                                        <option>Feb</option>
                                                                        <option>Mar</option>
                                                                        <option>Apr</option>
                                                                        <option>May</option>
                                                                        <option>Jun</option>
                                                                        <option>Jul</option>
                                                                        <option>Aug</option>
                                                                        <option>Sep</option>
                                                                        <option>Oct</option>
                                                                        <option>Nov</option>
                                                                        <option>Dec</option>
                                                                      </select>
                                                                    </div>

                                                                    <div class="form-group justify-content-end">
                                                                      <select class="form-control" id="sel1">
                                                                        <option>All Categories</option>
                                                                        <option>Parks</option>
                                                                        <option>Resturants</option>
                                                                        <option>Cafes</option>
                                                                        <option>Workspaces</option>
                                                                      </select>
                                                                    </div>
                                                                  
                                                                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                                                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                                      <li><a class="dropdown-item active" href="#">All</a></li>
                                                                      <li><a class="dropdown-item" href="#">Accepted</a></li>
                                                                      <li><a class="dropdown-item" href="#">Rejected</a></li>   
                                                                  </ul>
                                                              </div>
      
                                                          </div>
    
                                                          <div class="col-lg-12">
                                                              <div class="row">
    
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-success">Accepted</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="userRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
    
                                                                    <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-success">Accepted</span> </p>                  
              
                                                                                  <p class="info"><a href="userRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->

                                                                  <!-- place Card -->
                                                                    <div class="col-xxl4 col-md-4 my-4">
                                                                      <div class="card info-card sales-card">                                             
                                                                          <div class="news">
                                                                              <div class="post-item">
                                                                                  <img src="//assets/img/product-1 1.svg" alt="">
                                                                                  <h4>Request from Juant Company</h4>
                                                                                  <p><i class="bi bi-bookmark pe-1"></i>Parks</p>
                                                                                  <p><i class="bi bi-calendar-event pe-1"></i>12/5/2023</p>

                                                                                  <p class="pe-2"><i class="bi bi-star pe-1"></i>5.0</p>
                                                                                  <p class="pe-2"><span class="badge bg-danger">Rejected</span> </p>      
        
               
              
                                                                                  <p class="info"><a href="userRequestDetails.html">See branch request Information <i class="bi bi-caret-right-fill"></i></a></p>
                                                                              </div>
                                                                  
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- End place Card -->
    
                                                              </div>
    
    
                                                      </div>
    
                                                      
                                                      </div>
    
    
                                                      
                                                  
    
    
                                                  </div>
    
                                                  <!-- End Left side columns -->
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>                 
                          </div>
                      </div>
                  </div>
              </div>
          </section>

        </div>
    </section>
</main>