
<main id="main" class="main">

  <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
          </ol>
      </nav>
  </div>
  <!-- End Page Title -->

  <% if (owner.isAdmin) {%>

  <div class="container">
    <div class="row">
                    <!-- Sales Card -->
    <div class="col my-3 text-center">
        <div class="card info-card sales-card">



          <div class="card-body my-4 pb-1 text-center">
            <h5 class="card-title">Companies</h5>

            <div class="d-flex justify-content-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-building"></i>
              </div>
              <div class="ps-3">
                <h6>145</h6>
                <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

              </div>
            </div>
          </div>

        </div>
      </div><!-- End Sales Card -->

    <!-- Sales Card -->
      <div class="col my-3 text-center">
        <div class="card info-card sales-card">

          <div class="card-body my-4 pb-1 text-center">
            <h5 class="card-title">Branches</h5>

            <div class="d-flex justify-content-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-buildings"></i>
              </div>
              <div class="ps-3">
                <h6>1000</h6>
                <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

              </div>
            </div>
          </div>

        </div>
      </div><!-- End Sales Card -->

    <!-- Sales Card -->
      <div class="col my-3 text-center">
        <div class="card info-card sales-card">

          <div class="card-body my-4 pb-1 text-center">
            <h5 class="card-title">Requests</h5>

            <div class="d-flex justify-content-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-plus-circle-dotted"></i>
              </div>
              <div class="ps-3">
                <h6>35</h6>
                <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

              </div>
            </div>
          </div>

        </div>
      </div><!-- End Sales Card -->

    </div>
</div>

<%}%> 
           




  <section class="section dashboard">
      <div class="row">

          <div class="container">
          <div class="row">
            <% if (!owner.isAdmin) {%>
              <!-- Sales Card -->
              <div class="col my-4 text-center">
                  <div class="card info-card sales-card">
                      <div class="card-body my-4 pb-1 text-center">
                          <h5 class="card-title">Company Rate</h5>
                          <div class="d-flex justify-content-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                  <i class="bi bi-star"></i>
                              </div>
                              <div class="ps-3">
                                  <h6>5.0</h6>
                                  <span class="text-success small pt-1 fw-bold">increase</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Sales Card -->
              
              <!-- Sales Card -->
              <div class="col my-4 text-center">
                  <div class="card info-card sales-card">
                      <div class="card-body my-4 pb-1 text-center">
                          <h5 class="card-title">Branches</h5>
                          <div class="d-flex justify-content-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                  <i class="bi bi-building-check"></i>
                              </div>
                              <div class="ps-3">
                                  <h6><%=placeCount%></h6>
                                  <span class="text-success small pt-1 fw-bold">Active Branches</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Sales Card -->
              
              <!-- Sales Card -->
              <div class="col my-4 text-center">
                  <div class="card info-card sales-card">
                      <div class="card-body my-4 pb-1 text-center">
                          <h5 class="card-title">Managers</h5>
                          <div class="d-flex justify-content-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                  <i class="bi bi-arrows-fullscreen"></i>
                              </div>
                              <div class="ps-3">
                                  <h6><%= managerCount %></h6>
                                  <span class="text-success small pt-1 fw-bold">Available Managers</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Sales Card -->

          </div>
      </div>
      <%}%> 
           
      
      <% if (owner.isAdmin) {%>

       
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            <div class="card-body pb-0">
              <h5 class="card-title">Partner</h5>
              <div class="filter">
                <a class="icon" href="/admin/auth/partners">See All</a>
            </div>

          <table class="table text-center">
            <thead>

              <tr>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Company</th>
                <th scope="col">Type</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <% owners.forEach(function(owner){ %>
              <tr>
                <th scope="row"><a href="#"><img src="<%= owner.image %>" alt=""></a></th>
              
                <td><%= owner.ownername %></td>
                <td><%= owner.companyname %></td>
                <td><%= owner.type %></td>
                <!-- <td class="fw-bold">10</td> -->
                <td class="fw-bold"><%= owner.email %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>

        </div>
        
      </div>
        </div>
      <%}%> 



      <% if (owner.isAdmin) {%>
      <div class="col mb-2">



        <!-- booking Traffic -->
        <div class="card top-selling overflow-auto">

          <div class="card-body">

            <h5 class="card-title">Companies</h5>

            <div class="filter">
              <a class="icon" href="companies.html">See All</a>
            </div>

            <div class="table-responsive">

              <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">Owner</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Branches</th>
                    <th scope="col">Rate</th>
                  </tr>
                </thead>
                <tbody class="">
                  <% owners.forEach(function(owner){ %>
                  <tr>
                    <th scope="row"><a href="#"><img src="<%= owner.imagelogo %>" alt=""></a></th>
                    <td><%= owner.ownername %></td>
                    <td><%= owner.email %></td>
                    <td><%= owner.companyname %></td>
                    <td><%= owner.type %></td>
                    <td class="fw-bold">10</td>
                    <td class="fw-bold">5.0</td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>



          </div>



          </div>
        </div>
           
        <%}%> 
                  
      <!-- Top Selling -->
      <% if (!owner.isAdmin) {%>
      <div class="col mb-3">
          <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                  <h5 class="card-title">Branches</h5>
                  <div class="filter">
                      <a class="icon" href="/admin/places/owner-places">See All</a>
                  </div>

                  <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0">
                          <thead>
                              <tr>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Branch ID</th>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Branch</th>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manager</th>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Rate</th>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Capacity</th>
                                  <th class="text-secondary opacity-7"></th>

                              </tr>
                          </thead>
                          <tbody>

                            <% placesofbranch.forEach(function(place){ %>
                             
                              <tr>
                                  <td>
                                      <p class="text-sm font-weight-bold mb-0 mt-3"><%= place.id %></p>
                                  </td>
                                  <td>
                                      <div class="d-flex px-2 py-1">
                                          <div>
                                              <img src="<%= place.images[0] %>" class="avatar avatar-sm me-3" alt="user1">
                                          </div>
                                          <div class="d-flex flex-column justify-content-center">
                                              <h6 class="mb-0 text-sm"><%= place.city %>, <%= place.area %></h6>
                                              <p class="text-xs text-secondary mb-0"><%= place.email %></p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>
                                      <p class="text-xs font-weight-bold mb-0 mt-3"> <%= place.manager?.managername %></p>
                                  </td>
                                  <td>
                                      <p class="text-xs font-weight-bold mb-0 mt-3">5.0</p>
                                  </td>
                                  <td>
                                      <p class="text-xs font-weight-bold mb-0 mt-3"><%= place.capacity %></p>
                                  </td>
                                  <td class="action">
                                    <button class="open-button- btn" onclick="document.getElementById('branch-popup-<%= place._id %>').style.display = 'block'">FULL DETAILS</button>
                                  </td>
                              </tr>
                              
                              <% }); %>

                          </tbody>
                      </table>

                      <% places.forEach(function(place){ %>
                        <div id="branch-popup-<%= place._id %>" class="branch-popup">
                            
                          <div class="branch-popup-content">
                            <div class="card text-center mb-5">
                              
                                <form id="branch-form">
        
                                    <div class="container">
                                        <div class="row">
                                          

                              <div class="tab-content">

                                      <div id="tab1" class="tab-pane active">
                                            
                                                  <div class="container justify-content-center my-4" >
                                                    <h5 class="card-title mb-3 text-center">Manager</h5>
                                                    <div class="card">
                                                        <div style="background-color: none;" class=" text-center pt-4" id="selectedRowData">
                                                            <img src=" <%= place.manager?.image %> " alt="Image" class="card-image">
                                                            <div class="card-data mt-2">
                                                              <p class="card-description" id="managerName"><i class="bi bi-person"></i> <span class="fw-bold">Manager:</span> <%= place.manager?.managername %> </p>
                                                              <p class="card-description" id="managerEmail"><i class="bi bi-envelope"></i> <span class="fw-bold">E-mail:</span> <%= place.manager?.email %> </p>
                                                              <p class="card-description" id="managerPhone"><i class="bi bi-telephone"></i> <span class="fw-bold">Phone:</span> <%= place.manager?.phone %> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="container">
                                                  <div class="row">
                                                         <div class="col">
                                                          <div class="card-profile ">
                                                            <div class="card-body profile-card d-flex flex-column align-items-center">
                                                              <h5 class="card-title mb-3 text-center">Images</h5>
                                  
                                                              <div class="container-fluid">
                                                                <div class="scrolling-wrapper row flex-row flex-nowrap text-center">
                                                                  
                                  
                                                                      <img src="<%= place.images[0] %>" alt="">
                                  
                                  
                                  
                                  
                                                                  
                                                                </div>
                                                            </div>
                                                            </div>
                                                          
                                                        </div>
      
      
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-file-text"></i> About: <span class="fw-normal"><%= place.desc %></span></div>
                                                        </div>
                                
                                      
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-geo-alt"></i> Location: <a class="location" href="<%= place.address %>"><span class="fw-normal"><%= place.city %> , <%= place.area %></span></a> </div>
                                                        </div>
                                      
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-cash"></i> Min-Budget: <span class="fw-normal"><%= place.budget %></span></div>
                                                        </div>
                                      
                              
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-person-bounding-box"></i> Capacity: <span class="fw-normal"><%= place.capacity %></span></div>
                                                        </div>
                              
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-star"></i> Rate: <span class="fw-normal">5.0</span></div>
                                                        </div>
                              
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-phone"></i> Phone: <span class="fw-normal"><%= place.phone %></span></div>
                                                        </div>
                                      
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-envelope"></i> Email: <span class="fw-normal"><%= place.email %></span></div>
                                                        </div>
                              
                                                        <div class="row mb-2">
                                                          <div class="col label fw-bold"><i class="bi bi-upc"></i> Branch ID: <span class="fw-normal"><%= place.id %></span></div>
                                                        </div>
                              
                              
                                                         </div>
                                                         <div class="col">
                                                           
                                                <div class="services container">
                                                  <h5 class="card-title mb-3 text-center">Services</h5>
                            
                                                  <div class="row justify-content-between">
                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i> <%= place.service1 %>
                                                          </p> 
                                                      </div>

                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i> <%= place.service2 %>
                                                          </p> 
                                                      </div>

                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i> <%= place.service3 %>
                                                          </p> 
                                                      </div>

                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i> <%= place.service4 %>
                                                          </p> 
                                                      </div>

                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i><%= place.service5 %>
                                                          </p> 
                                                      </div>

                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i> <%= place.service6 %>
                                                      </div>
                          
                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i> <%= place.service7 %>
                                                          </p> 
                                                      </div>
                                                      <div class="col label ">
                                                          <p>
                                                              <i class="bi bi-check-circle text-success"></i> <%= place.service8 %>
                                                          </p> 
                                                      </div>
                                                  </div>
                      

                          
                      
                                                </div>
                                                         </div>
                                                         
                                                  </div>
                                                 </div>
                                               <div class="container">
                                                
                                                <div class="row">
                                                  <h5 class="card-title mb-3 text-center">Reception Hour</h5>
                                                  

                                                <div class="table-responsive pt-2">

                                                  <table class="table align-items-center mb-0">

                                                    <thead>
                                                      <tr>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                        <% if(receptionHour.sunday){ %>
                                                          
                                                          <tr>
                                                            <td>
                                                              <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                  <h6 class="mb-0 text-sm mt-3">Sunday</h6>
                                                                </div>
                                                              </div>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.from%></p>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.until%></p>
                                                            </td>
                                                          </tr>
                                                          <% }%>
                                                        <% })%>
                                                      <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                        <% if(receptionHour.monday){ %>
                                                          
                                                          <tr>
                                                            <td>
                                                              <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                  <h6 class="mb-0 text-sm mt-3">monday</h6>
                                                                </div>
                                                              </div>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.from%></p>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.until%></p>
                                                            </td>
                                                          </tr>
                                                          <% }%>
                                                        <% })%>
                                                      <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                        <% if(receptionHour.thuesday){ %>
                                                          
                                                          <tr>
                                                            <td>
                                                              <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                  <h6 class="mb-0 text-sm mt-3">thuesday</h6>
                                                                </div>
                                                              </div>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.from%></p>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.until%></p>
                                                            </td>
                                                          </tr>
                                                          <% }%>
                                                        <% })%>
                                                      <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                        <% if(receptionHour.wendesday){ %>
                                                          
                                                          <tr>
                                                            <td>
                                                              <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                  <h6 class="mb-0 text-sm mt-3">wendesday</h6>
                                                                </div>
                                                              </div>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.from%></p>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.until%></p>
                                                            </td>
                                                          </tr>
                                                          <% }%>
                                                        <% })%>
                                                      <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                        <% if(receptionHour.thursday){ %>
                                                          
                                                          <tr>
                                                            <td>
                                                              <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                  <h6 class="mb-0 text-sm mt-3">thursday</h6>
                                                                </div>
                                                              </div>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.from%></p>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.until%></p>
                                                            </td>
                                                          </tr>
                                                          <% }%>
                                                        <% })%>
                                                      <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                        <% if(receptionHour.friday){ %>
                                                          
                                                          <tr>
                                                            <td>
                                                              <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                  <h6 class="mb-0 text-sm mt-3">friday</h6>
                                                                </div>
                                                              </div>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.from%></p>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.until%></p>
                                                            </td>
                                                          </tr>
                                                          <% }%>
                                                        <% })%>
                                                      <% place.receptionHours?.forEach(function(receptionHour){ %>
                                                        <% if(receptionHour.saturday){ %>
                                                          
                                                          <tr>
                                                            <td>
                                                              <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                  <h6 class="mb-0 text-sm mt-3">saturday</h6>
                                                                </div>
                                                              </div>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.from%></p>
                                                            </td>
                                                            <td>
                                                              <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.until%></p>
                                                            </td>
                                                          </tr>
                                                          <% }%>
                                                        <% })%>
                          
                                                    </tbody>
                                                  </table>
                                                </div>
                                                </div>
                                               </div>


                        
                                      </div>
                                               

                                                

                               </div>

                                            <button type="button" class="btn close mt-3" onclick="document.getElementById('branch-popup-<%= place._id %>').style.display = 'none'">Close</button>

                                        </div>
                                    </div>
                        
                                </form>
        
        
                    
                    
                    
                                
                                
                            </div>
                          </div>
                        </div>
                      <% }); %>
                  </div>
              </div>
          </div>
      </div>
      <%}%> 
      <!-- End Top Selling -->
      <% if (!owner.isAdmin) {%>
      <div class="col">



          <!-- booking Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="/admin/auth/request">See All</a>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Branches Requests</h5>

              <div class="container">
                <div class="row">
                  <% places.forEach(function(place){ %>
                  <div class="news">
                    <div class="col post-item clearfix">
                      <img src="<%= place.images[0] %>" alt="">
                      <p class="fw-bold"><i class="bi bi-geo-alt pe-1"></i><%= place.city %>,<%= place.area %></p>
                      <p><i class="bi bi-plus-circle-dotted pe-1"></i><%= place.id%></p>
                      <p><i class="bi bi-calendar-event pe-1"><%= place.createdAt?.toDateString() %>></i></p>
                      <p><i class="bi bi-star pe-1"></i>5.0</p>
                      <p class="pe-2">
                        <% if (place.status === 'pending') {%> 
                          <span class="badge bg-info m-3"><%= place.status %></span>
                        <%} else if(place.status === 'approved') { %>                                                                                
                          <span class="badge bg-success m-3"><%= place.status %></span>
                        <%} else if(place.status === 'declined') { %>                                                                                
                          <span class="badge bg-warning m-3"><%= place.status %></span>
                        <%} else { %>                                                                  
                        <span class="badge bg-danger m-3"><%= place.status %></span>
                        <%}%>    

                      </p>                  
                      <div class="d-flex justify-content-end mt-0">
                        <button class="open-request-popup btn" onclick="document.getElementById('request-popup-<%= place._id %>').style.display = 'block'">SEE REVIEW</button>
                      </div>
                    </div>
                    
                  </div>
                  <% }); %>

                  <% places.forEach(function(place){ %>
                  <div id="request-popup-<%= place._id %>" class="request-popup">
                    <div>
                        <span class="request-popup-close">&times;</span>
                    </div>
                  <div class="request-popup-content">
                    <div class="card text-center mb-5">
                     
                        <form id="request-form">

                            <div class="container">
                                <div class="row">

                                  <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link active">Manager</a></li>
                                      <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link">Main Details</a></li>
                                      <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link">Services</a></li>
                                      <li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link">Reception Hours</a></li>
                                      <li class="nav-item"><a href="#tab5" data-toggle="tab" class="nav-link">Pricing list</a></li>
                                  </ul>

                                  <div class="tab-content">

                                      <div id="tab1" class="tab-pane active">
                                  
                                        <div class="container justify-content-center my-4" >
                                          <h5 class="card-title mb-3 text-center">Manager</h5>
                                          <div class="card">
                                              <div style="background-color: none;" class=" text-center pt-4" id="selectedRowData">
                                                  <img src=" <%= place.manager?.image %> " alt="Image" class="card-image">
                                                  <div class="card-data mt-2">
                                                    <p class="card-description" id="managerName"><i class="bi bi-person"></i> <span class="fw-bold">Manager:</span> <%= place.manager?.managername %> </p>
                                                    <p class="card-description" id="managerEmail"><i class="bi bi-envelope"></i> <span class="fw-bold">E-mail:</span> <%= place.manager?.email %> </p>
                                                    <p class="card-description" id="managerPhone"><i class="bi bi-telephone"></i> <span class="fw-bold">Phone:</span> <%= place.manager?.phone %> </p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>


                                      <div class="container">
                                        <div class="row">
                                               <div class="col">
                                                <div class="card-profile ">
                                                  <div class="card-body profile-card d-flex flex-column align-items-center">
                                                    <h5 class="card-title mb-3 text-center">Images</h5>
                        
                                                    <div class="container-fluid">
                                                      <div class="scrolling-wrapper row flex-row flex-nowrap text-center">
                                                        
                        
                                                            <img src="<%= place.images[0] %>" alt="">
                        
                        
                        
                        
                                                        
                                                      </div>
                                                  </div>
                                                  </div>
                                                
                                              </div>


                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-file-text"></i> About: <span class="fw-normal"><%= place.desc %></span></div>
                                              </div>
                      
                            
                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-geo-alt"></i> Location: <a class="location" href="<%= place.address %>"><span class="fw-normal"><%= place.city %> , <%= place.area %></span></a> </div>
                                              </div>
                            
                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-cash"></i> Min-Budget: <span class="fw-normal"><%= place.budget %></span></div>
                                              </div>
                            
                    
                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-person-bounding-box"></i> Capacity: <span class="fw-normal"><%= place.capacity %></span></div>
                                              </div>
                    
                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-star"></i> Rate: <span class="fw-normal">5.0</span></div>
                                              </div>
                    
                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-phone"></i> Phone: <span class="fw-normal"><%= place.phone %></span></div>
                                              </div>
                            
                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-envelope"></i> Email: <span class="fw-normal"><%= place.email %></span></div>
                                              </div>
                    
                                              <div class="row mb-2">
                                                <div class="col label fw-bold"><i class="bi bi-upc"></i> Branch ID: <span class="fw-normal"><%= place.id %></span></div>
                                              </div>
                                              <div class="row">
                                                <p class="pe-2"><span class="badge bg-info"><%= place.status%></span></p> 
                                              </div>
                    
                    
                                               </div>
                                               <div class="col">
                                                 
                                      <div class="services container">
                                        <h5 class="card-title mb-3 text-center">Services</h5>
                  
                                        <div class="row justify-content-between">
                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i> <%= place.service1 %>
                                                </p> 
                                            </div>

                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i> <%= place.service2 %>
                                                </p> 
                                            </div>

                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i> <%= place.service3 %>
                                                </p> 
                                            </div>

                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i> <%= place.service4 %>
                                                </p> 
                                            </div>

                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i><%= place.service5 %>
                                                </p> 
                                            </div>

                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i> <%= place.service6 %>
                                            </div>
                
                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i> <%= place.service7 %>
                                                </p> 
                                            </div>
                                            <div class="col label ">
                                                <p>
                                                    <i class="bi bi-check-circle text-success"></i> <%= place.service8 %>
                                                </p> 
                                            </div>
                                        </div>
            

                
            
                                      </div>
                                               </div>
                                               
                                        </div>
                                       </div>
                                     <div class="container">
                                      
                                      <div class="row">
                                        <h5 class="card-title mb-3 text-center">Reception Hour</h5>
                                        

                                      <div class="table-responsive pt-2">

                                        <table class="table align-items-center mb-0">

                                          <thead>
                                            <tr>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <% place.receptionHours?.forEach(function(receptionHour){ %>
                                              <% if(receptionHour.sunday){ %>
                                                
                                                <tr>
                                                  <td>
                                                    <div class="d-flex px-2 py-1">
                                                      <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm mt-3">Sunday</h6>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.from%></p>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.sunday?.until%></p>
                                                  </td>
                                                </tr>
                                                <% }%>
                                              <% })%>
                                            <% place.receptionHours?.forEach(function(receptionHour){ %>
                                              <% if(receptionHour.monday){ %>
                                                
                                                <tr>
                                                  <td>
                                                    <div class="d-flex px-2 py-1">
                                                      <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm mt-3">monday</h6>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.from%></p>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.monday?.until%></p>
                                                  </td>
                                                </tr>
                                                <% }%>
                                              <% })%>
                                            <% place.receptionHours?.forEach(function(receptionHour){ %>
                                              <% if(receptionHour.thuesday){ %>
                                                
                                                <tr>
                                                  <td>
                                                    <div class="d-flex px-2 py-1">
                                                      <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm mt-3">thuesday</h6>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.from%></p>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thuesday?.until%></p>
                                                  </td>
                                                </tr>
                                                <% }%>
                                              <% })%>
                                            <% place.receptionHours?.forEach(function(receptionHour){ %>
                                              <% if(receptionHour.wendesday){ %>
                                                
                                                <tr>
                                                  <td>
                                                    <div class="d-flex px-2 py-1">
                                                      <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm mt-3">wendesday</h6>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.from%></p>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.wendesday?.until%></p>
                                                  </td>
                                                </tr>
                                                <% }%>
                                              <% })%>
                                            <% place.receptionHours?.forEach(function(receptionHour){ %>
                                              <% if(receptionHour.thursday){ %>
                                                
                                                <tr>
                                                  <td>
                                                    <div class="d-flex px-2 py-1">
                                                      <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm mt-3">thursday</h6>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.from%></p>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.thursday?.until%></p>
                                                  </td>
                                                </tr>
                                                <% }%>
                                              <% })%>
                                            <% place.receptionHours?.forEach(function(receptionHour){ %>
                                              <% if(receptionHour.friday){ %>
                                                
                                                <tr>
                                                  <td>
                                                    <div class="d-flex px-2 py-1">
                                                      <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm mt-3">friday</h6>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.from%></p>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.friday?.until%></p>
                                                  </td>
                                                </tr>
                                                <% }%>
                                              <% })%>
                                            <% place.receptionHours?.forEach(function(receptionHour){ %>
                                              <% if(receptionHour.saturday){ %>
                                                
                                                <tr>
                                                  <td>
                                                    <div class="d-flex px-2 py-1">
                                                      <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm mt-3">saturday</h6>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.from%></p>
                                                  </td>
                                                  <td>
                                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= receptionHour.saturday?.until%></p>
                                                  </td>
                                                </tr>
                                                <% }%>
                                              <% })%>
                
                                          </tbody>
                                        </table>
                                      </div>
                                      </div>
                                     </div>

                                      
                                      </div>


                                  </div>

                                              
                                    <form  method="POST" action="/admin/places/update-status/<%= place.id %>">
                                      <input type="hidden" name="status" value="declined">
                                      <button type="submit" title="DECLINE" class="btn button2 cancel mt-3 w-100">Cancelation</button>
                                    </form>
                                    <button type="button" class="btn close mt-3" onclick="document.getElementById('request-popup-<%= place._id %>').style.display = 'none'">Close</button>


                                </div>
                            </div>
                
                        </form>
                    </div>
                  </div>
                </div>
                
                <% }); %>
                </div>
              </div>



              </div><!-- End sidebar recent posts-->

            </div>
          </div>
          <%}%> 
      
          <% if (owner.isAdmin) {%>
            <% leatesPlaces.forEach(function(place){ %>   
              <div class="card h-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                    <li><a class="dropdown-item active" href="/admin/auth/branchesbooking">All</a></li>
                    
                    <li><a class="dropdown-item active" href="/admin/auth/branchesbooking">Waiting</a></li>
                   
                    <li><a class="dropdown-item active" href="/admin/auth/branchesbooking">Requests</a></li>
                  </ul>
                </div>
    
                <div class="card-body pb-0">
                <h5 class="card-title">Request Booking</h5>
    
                <div class="news">
                  <div class="post-item clearfix">
                    
                    <div>
                    <img src="<%= place.images[0] %>" alt=""> 
                    </div>
                   <h4>Request from <%= place.name %></h4>
                    <p><i class="bi bi-bookmark pe-1"></i><%= place.type %></p>
                    <p><i class="bi bi-geo-alt pe-1"></i><%= place.city %> , <%= place.area %></p>
                    <p><a href="/admin/auth/branchdetials/<%= place.id %>">See request Information <i class="bi bi-caret-right-fill"></i></a></p>
                    <p><i class="bi bi-calendar-event pe-1"></i><%= place.createdAt?.toDateString() %></p>
                    
                    <% if (place.status === 'pending') {%> 
                      <span class="badge bg-info m-3"><%= place.status %></span>
                    <%} else if(place.status === 'approved') { %>                                                                                
                      <span class="badge bg-success m-3"><%= place.status %></span>
                    <%} else if(place.status === 'declined') { %>                                                                                
                      <span class="badge bg-warning m-3"><%= place.status %></span>
                    <%} else { %>                                                                  
                    <span class="badge bg-danger m-3"><%= place.status %></span>
                    <%}%>                   
                    <!-- <p><a href="dashboardRequestDetails.html">See request Information <i class="bi bi-caret-right-fill"></i></a></p> -->
                    <div class="row">
                                                                                      
                      <form class="col-md-6" method="POST" action="/admin/places/update-status/<%= place.id %>">
                        <input type="hidden" name="status" value="approved">
                        <button type="submit" title="APPROVE" class="btn p-2 btn-primary me-auto ms-3 ">APPROVE</button>
                      </form>
                      <form class="col-md-6" method="POST" action="/admin/places/update-status/<%= place.id %>">
                        <input type="hidden" name="status" value="declined">
                        <button type="submit" title="DECLINE" class="button2 btn p-2 btn-primary main-btn ms-2">DECLINE</button>
                      </form>
                    </div>
    
                </div>
                  </div>
                  
                </div>
              </div>
              <% }); %>
           
            <%}%> 
    
          <!-- End News & Updates -->


  </div>
</section>

</main>

