

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Management Places</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active"><a href="/admin/places/owner-places">Places</a></li>
        <li class="breadcrumb-item active"><a href="admin/places/create-place">Add Place</a></li>
       

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section places">
    <div class="row">

      





      <section class="section edit-profile">
        <div class="row">
  
          <div class="col-xl-12">
  
            <div class="card">
              <div class="card-body pt-3">
                
                
                <div class="back-bar text-center">
                  <a href="/admin/places/owner-places"><i class="bi bi-x-circle-fill"></i>                   
                  </a>
                </div><!-- End Search Bar -->

                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  
                  <div class="tab-content pt-2">
    
                    <div class="tab-pane fade show active profile-edit" id="profile-edit">
    
                      <form action="/admin/places" method="post" enctype="multipart/form-data" id="form-upload">
                        <div class="row mb-3">
    
    
    
    
                          <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title text-center">Add New Place</h5>
          
          
                            <div class="container my-4">
                              <div class="row mb-3 ">
  
                                  <div id="placesImg" class="col sectionCard m-2">
                                      <h1 class="card-title fw-bold text-center">Add your branch images</h1>
  
                                          <div class="form-group">
                                              <label for="images" class="col col-form-label">Select images:</label>
                                              <div class="col">
                                                  <input type="file" id="images" name="images" accept="image/*" multiple class="form-control">
                                                  <div id="preview-container" style="display: none;">
                                                      <div id="preview-images" class="row mt-3">
                                                  
                                                      </div>
                                                      <button type="button" id="remove-images" class="btn btn-danger mt-2">Remove Images</button>
                                                  </div>
                                                  <small class="form-text text-muted">Files must be JPEG, PNG, or GIF images and less than 5MB each.</small>                                          
                                              </div>
                                          </div>
                                  </div>
  
                                  <div id="pricingList" class="col sectionCard m-2">
                                      <h1 class="card-title fw-bold text-center">Add your branch pricing list</h1>
  
                                        
                                              <label for="images-Menu" class="col col-form-label">Select images:</label>
                                              <div class="col">
                                                  <input type="file" id="images-Menu" name="menuimages" accept="image/*" multiple class="form-control">
                                                  <div id="preview-container-Menu" style="display: none;">
                                                      <div id="preview-images-Menu" class="row mt-3">
                                                  
                                                      </div>
                                                      <button type="button" id="remove-images-Menu" class="btn btn-danger mt-2">Remove Images</button>
                                                  </div>
                                                  <small class="form-text text-muted">Files must be JPEG, PNG, or GIF images and less than 5MB each.</small>                                          
                                              </div>
                                          </div>
                                  </div>
  
                              </div>
  
                          </div>
          
                           
                          </div>
    
                        </div>
                      
    
                        <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-2 col-form-label"><i class="bi bi-card-text"></i>About</label>
                          <div class="col-md-8 col-lg-10">
                            <textarea name="desc" type="text" class="form-control" id="About" placeholder="about your place"></textarea>
                          </div>
                        </div>

                        <div class="row mb-3">

                          <label for="city" class="col col-form-label"><i class="bi bi-geo-alt"></i>Governorate</label>
                          <div class="col-md-8 col-lg-10">
                              <select id="city" name="city" class="form-control">
                                  <option value="cairo" >CAIRO</option>
                                  <option value="alex" >ALEX</option>
                                  <option value="Giza">Giza</option>
                              </select>
                          
                          </div>
                      </div>
  
                      <div class="row mb-3">

                          <label for="area" class="col col-form-label"><i class="bi bi-geo-alt"></i>Area</label>
                          <div class="col-md-8 col-lg-10">
                              <select id="area"  name="area" class="form-control">
                                  <option value="">-- Select an option --</option>
                              </select>
                          </div>
                      </div>
                        
                        <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-2 col-form-label"><i class="bi bi-card-text"></i>Type</label>
                          <div class="col-md-8 col-lg-10">
                          <select class="form-control" name="type" id="sel1">
                              <option value="park">park</option>
                              <option value="restaurant">restaurant</option>
                              <option value="cafe">cafe</option>
                              <option value="workspace">workspace</option>
                            </select>
                          </div>
                        </div>
                        
                        <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-2 col-form-label"><i class="bi bi-geo-alt"></i>address</label>
                          <div class="col-md-8 col-lg-10">
                            <input name="address" type="url" class="form-control" id="address" value="" placeholder="https://example.com">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-2 col-form-label"><i class="bi bi-person-bounding-box"></i>Capacity</label>
                          <div class="col-md-8 col-lg-10">
                            <input name="capacity" type="number" class="form-control" id="Capacity" value="0">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-2 col-form-label"><i class="bi bi-cash"></i>Min Budget</label>
                          <div class="col-md-8 col-lg-10">
                            <input name="budget" type="number" class="form-control" id="Copmany" value="00">
                          </div>
                        </div>
    

                        <div class="row mb-3">
                          <label for="Address" class="col-md-4 col-lg-2 col-form-label"><i class="bi bi-phone"></i>Phone</label>
                          <div class="col-md-8 col-lg-10">
                            <input name="phone" type="text" class="form-control" id="Phone" value="" placeholder="01095604355">
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="Email" class="col-md-4 col-lg-2 col-form-label"><i class="bi bi-envelope"></i>Email</label>
                          <div class="col-md-8 col-lg-10">
                            <input name="email" type="email" class="form-control" id="Email" value="" placeholder="example@gmail.com">
                          </div>
                        </div>


                       

                          <h1 class="card-title fw-bold text-center">Add your branch reception hours</h1>
                          
                      
                   
                             
                       

                      <div class="form-check">
                        <input class="form-check-input" name="sunday" type="checkbox" id="inlinedateCheckbox1" value="true" onclick="Sunday()"/>
                        <label class="form-check-label" for="inlineCheckbox1">Sunday</label>
                        <div  id="time1" style="display:none"> 
                          <div class="from pt-2">
                              <p class="">
                                <i class="bi bi-hourglass-top"></i> From <input type="time" id="appt" name="sundayFrom">     
                              </p>   
                          </div>
                          <div class="to">
                              <p class="">
                                <i class="bi bi-hourglass-bottom"></i> Until <input type="time" id="appt" name="sundayUntil">     
                            </p>     
                          </div>
                        </div>
                      </div>
                      
                      <!-- sunday end -->

                      <div class="form-check">
                        <input class="form-check-input" name="monday" type="checkbox" id="inlinedateCheckbox2" value="true" onclick="Monday()"/>
                        <label class="form-check-label" for="inlineCheckbox1">monday</label>
                        <div  id="time2" style="display:none"> 
                          <div class="from pt-2">
                              <p class="">
                                <i class="bi bi-hourglass-top"></i> From <input type="time" id="appt" name="mondayFrom">     
                              </p>   
                          </div>
                          <div class="to">
                              <p class="">
                                <i class="bi bi-hourglass-bottom"></i> Until <input type="time" id="appt" name="mondayUntil">     
                            </p>     
                          </div>
                        </div>
                      </div>
                      <!-- monday end -->
                      <div class="form-check">
                        <input class="form-check-input" name="tuesday" type="checkbox" id="inlinedateCheckbox3" value="true" onclick="thuesday()"/>
                        <label class="form-check-label" for="inlineCheckbox1">tuesday</label>
                        <div  id="time3" style="display:none"> 
                          <div class="from pt-2">
                              <p class="">
                                <i class="bi bi-hourglass-top"></i> From <input type="time" id="appt" name="tuesdayFrom">     
                              </p>   
                          </div>
                          <div class="to">
                              <p class="">
                                <i class="bi bi-hourglass-bottom"></i> Until <input type="time" id="appt" name="tuesdayUntil">     
                            </p>     
                          </div>
                        </div>
                      </div>
                       <!-- Tuesday end -->

                       <div class="form-check">
                        <input class="form-check-input" name="wendesday" type="checkbox" id="inlinedateCheckbox4" value="true" onclick="whensday()"/>
                        <label class="form-check-label" for="inlineCheckbox1">wendesday</label>
                        <div  id="time4" style="display:none"> 
                          <div class="from pt-2">
                              <p class="">
                                <i class="bi bi-hourglass-top"></i> From <input type="time" id="appt" name="wendesdayFrom">     
                              </p>   
                          </div>
                          <div class="to">
                              <p class="">
                                <i class="bi bi-hourglass-bottom"></i> Until <input type="time" id="appt" name="wendesdayUntil">     
                            </p>     
                          </div>
                        </div>
                      </div>
                      <!-- Wendesday end -->

                      <div class="form-check">
                        <input class="form-check-input" name="thursday" type="checkbox" id="inlinedateCheckbox5" value="true" onclick="Thursday()"/>
                        <label class="form-check-label" for="inlineCheckbox5">thursday</label>
                        <div  id="time5" style="display:none"> 
                          <div class="from pt-2">
                              <p class="">
                                <i class="bi bi-hourglass-top"></i> From <input type="time" id="appt" name="thursdayFrom">     
                              </p>   
                          </div>
                          <div class="to">
                              <p class="">
                                <i class="bi bi-hourglass-bottom"></i> Until <input type="time" id="appt" name="thursdayUntil">     
                            </p>     
                          </div>
                        </div>
                      </div>
                      <!-- thursday end  -->

                      <div class="form-check">
                        <input class="form-check-input" name="friday" type="checkbox" id="inlinedateCheckbox6" value="true" onclick="Friday()"/>
                        <label class="form-check-label" for="inlineCheckbox1">friday</label>
                        <div  id="time6" style="display:none"> 
                          <div class="from pt-2">
                              <p class="">
                                <i class="bi bi-hourglass-top"></i> From <input type="time" id="appt" name="fridayFrom">     
                              </p>   
                          </div>
                          <div class="to">
                              <p class="">
                                <i class="bi bi-hourglass-bottom"></i> Until <input type="time" id="appt" name="fridayUntil">     
                            </p>     
                          </div>
                        </div>
                      </div>

                      
                      <div class="form-check">
                        <input class="form-check-input" name="saturday" type="checkbox" id="inlinedateCheckbox7" value="true" onclick="Satrday()"/>
                        <label class="form-check-label" for="inlineCheckbox1">saturday</label>
                        <div  id="time7" style="display:none"> 
                          <div class="from pt-2">
                              <p class="">
                                <i class="bi bi-hourglass-top"></i> From <input type="time" id="appt" name="saturdayFrom">     
                              </p>   
                          </div>
                          <div class="to">
                              <p class="">
                                <i class="bi bi-hourglass-bottom"></i> Until <input type="time" id="appt" name="saturdayUntil">     
                            </p>     
                          </div>
                        </div>
                      </div>

                      
                      

                        <h1 class="card-title fw-bold text-center">Add your branch services</h1>


                        <div class="card-profile">
     
                                 <div class="img-thumbs img-thumbs" id="img-preview">
                       
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="reception" name="service1" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>reception</label>
                                   </div>
                                   <br>
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="wi-fi" name="service2" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>wi-fi</label>
                                   </div>
                                   <br>
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="free-coffee" name="service3" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>free-coffee</label>
                                   </div>
                                   <br>
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="printer" name="service4" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>printer</label>
                                   </div>
                                   <br>
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="open-area" name="service5" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>open-area</label>
                                   </div>
                                   <br>
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="payment" name="service6" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>payment</label>
                                   </div>
                                   <br>
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="self-services" name="service7" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>self-services</label>
                                   </div>
                                   <br>
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="fast-food" name="service8" />
                                     <label class="form-check-label" for="inlineCheckbox1"> <i class="bi bi-envelope"></i>fast-food</label>
                                   </div>
                                   <br>
                                 
                                 
         
                                 </div>
         
                         </div>
                                
                            














                    
                                              
                      <div class="row mb-6 mt-4">
                          <label for="manager" class="col col-form-label"><i class="bi bi-person"></i>Select Manager</label>
                          <div class="col-md-8 col-lg-9">
                            <select class="form-control" name="manager">
                              <% managers.forEach(function(manager){ %>
                                <option value="<%=manager._id%>"><%=manager.managername%> - <%=manager.phone%>  - <%=manager.email%></option>
                              <% }); %>
                            </select>
                          </div>
                      </div>

                        <input name="owner_id" type="hidden" class="form-control" id="Capacity" value="<%= owner._id %>">

                        <div class="d-flex justify-content-center">
                          <div class="pt-2">
                            <input  class="button2 mt-4 btn-primary btn-lg"  type="submit" id="submit" value="Create Place"/>
                            <!-- <a href="AddPlaceStep2.html" class="button2 mt-4 btn-primary btn-lg" title="Remove my profile image">NEXT</a> -->
                          </div>
                        </div>
                      </form>
                      <!-- End Profile Edit Form -->
                    </div>

                    
                  </div><!-- End Bordered Tabs -->
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main><!-- End #main -->
