<main id="main" class="main">

  <div class="pagetitle">
    <h1>Management Places</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Places</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section places">
    <div class="row">

      <section class="section profile">
        <div class="row">
  
          <div class="col-xl-12">
  
            <div class="card">
              <div class="card-body pt-3">
                <div class="search-bar">
                  
                </div><!-- End Search Bar -->
         
                <div class="tab-content pt-2">
                  <br>
                  <!-- Left side columns -->
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="add-places">
                        <div class="card-body">
                          <h5 class="card-title">Add Branches Now</h5>
                          <p>Add a new Branches now free and in easy and quick steps and let business start</p>

                          <div class="d-flex justify-content-end">
                            <div class="pt-2">
                              <a href="/admin/places/create-place" class="button2 mt-4 btn-primary btn-lg" title="Remove my profile image"><i class="bi bi-plus-circle me-2"></i>ADD PLACE</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <% places.forEach(function(place){ %>
                        <!-- place Card -->
                        <div class="col-xxl-4 col-md-4 my-4">
                          <div class="card info-card sales-card">

                            <div class="filter">
                              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li><a class="dropdown-item" href="/admin/places/place-details/<%= place._id %>">See Details</a></li>
                                <li><a class="dropdown-item" href="/admin/places/edit-place/<%= place._id %>">Edit</a></li>
                                <li><a class="dropdown-item" href="/admin/places/delete/<%= place._id %>">Delete</a></li>
                              </ul>
                            </div>
                            <div class="card-body my-4 pb-1 text-center align-items-center">
                              <div class="card-icon d-flex align-items-center justify-content-center">
                                <img src="<%= place.images[0] %>" alt="">
                              </div>
                              
                              <p class="pt-4"> <span class="fw-bold">ManagerName:</span> <%= place.manager?.managername %></p>
                              <p class="pt-4"><i class="bi bi-geo-alt"></i> <span class="fw-bold">Loaction: </span><%= place.city %> , <%= place.area %></p>
                              <p class="pt-4"> <span class="fw-bold">E-mail: </span><%= place.email %></p>
                              

                              
                              
                    <div class="d-flex justify-content-center pt-3">
                      

                    </div>

                            </div>

                          </div>
                        </div>
                        <!-- End place Card -->
                      <% }); %>

                      


                                  

                    </div>
                  </div><!-- End Left side columns -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
























    </div>
  </section>

</main><!-- End #main -->
