
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Managers</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Branches Managers</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
      <div class="row">

          <div class="container">
              <div class="row">
                  
                  <!-- Sales Card -->
                  <div class="col my-4 text-center">
                      <div class="card info-card sales-card">
                          <div class="card-body my-4 pb-1 text-center">
                              <h5 class="card-title">Managers</h5>
                              <div class="d-flex justify-content-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                      <i class="bi bi-person-badge"></i>
                                  </div>
                                  <div class="ps-3">
                                      <h6><%=managerCount%></h6>
                                      <span class="text-success small pt-1 fw-bold">Active Branches</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Sales Card -->

                  <!-- Sales Card -->
                  <div class="col my-4 text-center">
                      <div class="card info-card sales-card">
                          <div class="card-body my-4 pb-1 text-center">
                              <h5 class="card-title">Company Rate</h5>
                              <div class="d-flex justify-content-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                      <i class="bi bi-star"></i>
                                  </div>
                                  <div class="ps-3">
                                      <h6>5.0</h6>
                                      <span class="text-success small pt-1 fw-bold">increase</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Sales Card -->
                  
                  <!-- Sales Card -->
                  <div class="col my-4 text-center">
                      <div class="card info-card sales-card">
                          <div class="card-body my-4 pb-1 text-center">
                              <h5 class="card-title">Branches</h5>
                              <div class="d-flex justify-content-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                      <i class="bi bi-building-check"></i>
                                  </div>
                                  <div class="ps-3">
                                      <h6><%= placeCount %></h6>
                                      <span class="text-success small pt-1 fw-bold">Activated Branches</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Sales Card -->
  
              </div>
          </div>

          
                          <!-- Top Selling -->
                          <div class="col mb-3">
                              <div class="card top-selling overflow-auto">
          
                                     
          
                                      <div class="add-places m-2">
                                          <div class="card-body">
                                            <h5 class="card-title text-center">Add Managers Now</h5>
                                            <p class="text-center">Add a new managers now for your Future branches in easy and quick steps</p>
                              
                                            <div class="d-flex justify-content-center">
                                              <div class="">
                                                  <button class="btn" onclick="document.getElementById('manager-popup').style.display = 'block'"><i class="bi bi-plus-circle me-2"></i>ADD MANAGER</button>

                                              </div>
                                          </div>
          
                                          </div>
                                      </div>

                                      <div id="manager-popup" class="manager-popup">
                                          <div>
                                              <span class="manager-popup-close">&times;</span>
                                          </div>
                                        <div class="manager-popup-content">
                                          <div class="card  mb-5">
                      
                                              <form id="manager-form" method="post" enctype="multipart/form-data" action="/admin/manager/create">
                      
                                                  <div class="container">
                                                      <div class="row">

                                                          <div class="container">
                                                              <div class="row mb-3">

                                                                      <div class="form-group">
                                                                          <label for="image" class="col col-form-label">Select image:</label>

                                                                          <div class="col">

                                                                              <input type="file" id="image" name="image" accept="image/*"  class="form-control">




                                                                              <div id="preview-container" style="display: none;" class="mt-3 mt-2">
                                                                                  <img id="preview" src="" alt="" style="max-width: 100%;">
                                                                                  <button type="button" id="remove-image" class="btn btn-danger mt-2">Remove Image</button>
                                                                              </div>
                                                                              <small class="form-text text-muted">Files must be JPEG, PNG, or GIF images and less than 5MB each.</small>                                          
                                                                          </div>

 
                                                                      </div>

                                                              </div>
                                  
                                                          </div>
                      
                                                        <div class="col">
                                                          <div class="row justify-content-start">
                                                              
                                                                  <div class="row mb-3">
                                                                      <label for="fullName" class="col col-form-label"><i class="bi bi-person-badge"></i>Full Name</label>
                                                                      <div class="col-md-8 col-lg-10">
                                                                          <input name="managername" type="text" class="form-control" id="fullName" placeholder="FullName">
                                                                      </div>
                                                                  </div>

                                                                  <div class="row mb-3">
                                                                      <label for="Email" class="col col-form-label"><i class="bi bi-envelope"></i>Email</label>
                                                                      <div class="col-md-8 col-lg-10">
                                                                          <input name="email" type="email" class="form-control" id="Email" placeholder="example@mail.com">
                                                                      </div>
                                                                  </div>
                                              
                                                                  <div class="row mb-3">
                                                                      <label for="Address" class="col col-form-label"><i class="bi bi-phone"></i>Phone</label>
                                                                      <div class="col-md-8 col-lg-10">
                                                                          <input name="phone" type="text" class="form-control" id="Phone" placeholder="01000000000">
                                                                      </div>
                                                                  </div>
                                              
                                                                  <div class="row mb-3">
                                                                      <label for="Password" class="col col-form-label"><i class="bi bi-lock"></i>Password</label>
                                                                      <div class="col-md-8 col-lg-10">
                                                                          <input name="password" type="password" class="form-control" id="Password" autocomplete="new-password" placeholder="*******">
                                                                      </div>
                                                                  </div>
                                                          </div>
                                                        </div>
                                                                     
              
                                                          <input type="submit" class="btn button2 mt-3" value="SAVE">
                                                          <button type="button" class="btn button2 close mt-3 btn-light" onclick="document.getElementById('manager-popup').style.display = 'none'">Close</button>

              
                                                      </div>
                                                  </div>
                                      
                                              </form>
                      
                      
                                  
                                  
                                  
                                              
                                              
                                          </div>
                                        </div>
                                      </div>

                                      <div class="container mt-3">
                                          <div class="row">

                                              <h5 class="card-title ps-3">Active Managers </h5>

                                              <div class="table-responsive">
                                                  <table class="table align-items-center mb-0">
                                                      <thead>
                                                          <tr>
                                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Branch</th>
                                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manager</th>
                                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone</th>
                                                              <th class="text-secondary opacity-7"></th>
                          
                                                          </tr>
                                                      </thead>
                                                      <% places.forEach(function(place){ %>
                                                      <tbody>
                          
                                                          <tr>
                                                              <td>
                                                                  <div class="d-flex px-2 py-1">
                                                                      <div>
                                                                          <img src="<%= place.images[0] %>" class="avatar avatar-sm me-3" alt="user1">
                                                                      </div>
                                                                      <div class="d-flex flex-column justify-content-center">
                                                                          <h6 class="mb-0 text-sm"><%= place.city %>,<%= place.area %></h6>
                                                                      </div>
                                                                  </div>
                                                              </td>
                                                              <td>
                                                                  <div class="d-flex px-2 py-1">
                                                                      <div>
                                                                          <img src="<%= place.manager?.image %>" class="avatar avatar-sm me-3" alt="user1">
                                                                      </div>
                                                                      <div class="d-flex flex-column justify-content-center">
                                                                          <h6 class="mb-0 text-sm"><%= place.manager?.managername %></h6>
                                                                      </div>
                                                                  </div>
                                                              </td>
                                                              <td>
                                                                  <p class="text-xs font-weight-bold mb-0 mt-3"><%= place.manager?.email %></p>
                                                              </td>
                                                              <td>
                                                                  <p class="text-xs font-weight-bold mb-0 mt-3"><%= place.manager?.phone %></p>
                                                              </td>

                                                              <td class="action">
                                                                <button class="open-button btn-primary btn mt-2 mb-2"  onclick="document.getElementById('request-popup-all-<%= place._id %>').style.display = 'block'" >DETAILS</button>
                                     
                                                                
                                                                  <button class="btn btn-danger mb-1 open-button " >
                                                                    <a href="/admin/manager/delete/<%= place.manager?._id %>">Delete</a>
                                                                  </button>

                                                              </td>
                                                          </tr>
                          
                                                      </tbody>
                                                      <% }); %>

                                                  </table>
                                              </div>
                                              <% places.forEach(function(place){ %>
                                                <div id="request-popup-all-<%= place._id %>" class="branch-popup">
                                                    <div>
                                                        <span class="branch-popup-close">&times;</span>
                                                    </div>
                                                  <div class="branch-popup-content">
                                                    <div class="card text-center mb-5">
                                                      
                                                        <form id="branch-form">
                                
                                                            <div class="container">
                                                                <div class="row">
                                
                                                                    <ul class="nav nav-tabs">
                                                                      <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link active">Manager</a></li>
                                                                        <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link">Main Details</a></li>
                                                                        <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link">Services</a></li>
                                                                        <li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link">Reception Hours</a></li>
                                                                        <li class="nav-item"><a href="#tab5" data-toggle="tab" class="nav-link">Pricing list</a></li>
                                                                    </ul>
                        
                                                                    <div class="tab-content">
                        
                                                                        <div id="tab1" class="tab-pane active">
                                                                    
                                                                          <div class="container justify-content-center my-4" >
                                                                            <div class="card">
                                                                                <div style="background-color: none;" class=" text-center pt-4" id="selectedRowData">
                                                                                    <img src=" <%= place.manager?.image %> " alt="Image" class="card-image">
                                                                                    <div class="card-data mt-2">
                                                                                      <p class="card-description" id="managerName"><i class="bi bi-person"></i> <span class="fw-bold">Manager:</span> <%= place.manager?.managername %> </p>
                                                                                      <p class="card-description" id="managerEmail"><i class="bi bi-envelope"></i> <span class="fw-bold">E-mail:</span> <%= place.manager?.email %> </p>
                                                                                      <p class="card-description" id="managerPhone"><i class="bi bi-telephone"></i> <span class="fw-bold">Phone:</span> <%= place.manager?.phone %> </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                        
                                                                        <div class="container">
                        
                                                                          <div class="card-profile ">
                                                                              <div class="card-body profile-card d-flex flex-column align-items-center">
                                                                                <h5 class="card-title mb-3 text-center">Images</h5>
                                                    
                                                                                <div class="container-fluid">
                                                                                  <div class="scrolling-wrapper row flex-row flex-nowrap text-center">
                                                                                    
                                                    
                                                                                        <img src="<%= place.images[0] %>" alt="">
                                                    
                                                    
                                                    
                                                    
                                                                                    
                                                                                  </div>
                                                                              </div>
                                                                              </div>
                                                                            
                                                                          </div>
                        
                        
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-file-text"></i> About: <span class="fw-normal"><%= place.desc %></span></div>
                                                                          </div>
                                                  
                                                        
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-geo-alt"></i> Location: <a class="location" href="<%= place.address %>"><span class="fw-normal"><%= place.city %> , <%= place.area %></span></a> </div>
                                                                          </div>
                                                        
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-cash"></i> Min-Budget: <span class="fw-normal"><%= place.budget %></span></div>
                                                                          </div>
                                                        
                                                
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-person-bounding-box"></i> Capacity: <span class="fw-normal"><%= place.capacity %></span></div>
                                                                          </div>
                                                
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-star"></i> Rate: <span class="fw-normal">5.0</span></div>
                                                                          </div>
                                                
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-phone"></i> Phone: <span class="fw-normal"><%= place.phone %></span></div>
                                                                          </div>
                                                        
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-envelope"></i> Email: <span class="fw-normal"><%= place.email %></span></div>
                                                                          </div>
                                                
                                                                          <div class="row mb-2">
                                                                            <div class="col label fw-bold"><i class="bi bi-upc"></i> Branch ID: <span class="fw-normal"><%= place.id %></span></div>
                                                                          </div>
                                                
                                                                        </div>
                                                                        <div class="services container">
                                                    
                                                                          <div class="row justify-content-between">
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i> <%= place.service1 %>
                                                                                  </p> 
                                                                              </div>
                        
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i> <%= place.service2 %>
                                                                                  </p> 
                                                                              </div>
                        
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i> <%= place.service3 %>
                                                                                  </p> 
                                                                              </div>
                        
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i> <%= place.service4 %>
                                                                                  </p> 
                                                                              </div>
                        
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i><%= place.service5 %>
                                                                                  </p> 
                                                                              </div>
                        
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i> <%= place.service6 %>
                                                                              </div>
                                                  
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i> <%= place.service7 %>
                                                                                  </p> 
                                                                              </div>
                                                                              <div class="col label ">
                                                                                  <p>
                                                                                      <i class="bi bi-check-circle text-success"></i> <%= place.service8 %>
                                                                                  </p> 
                                                                              </div>
                                                                          </div>
                                              
                        
                                                  
                                              
                                                                        </div>
                                                                        <div class="table-responsive pt-2">
                                                                          <table class="table align-items-center mb-0">
                                                                            <thead>
                                                                              <tr>
                                                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                                                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                                                                              </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                              <tr>
                                                                                <td>
                                                                                  <div class="d-flex px-2 py-1">
                                                                                    <div class="d-flex flex-column justify-content-center">
                                                                                      <h6 class="mb-0 text-sm mt-3">Sun</h6>
                                                                                    </div>
                                                                                  </div>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3"> <%=place.receptionHours.sundayFrom%></p>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3"><%=place.receptionHours.sundayUntil%></p>
                                                                                </td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td>
                                                                                  <div class="d-flex px-2 py-1">
                                                                                    <div class="d-flex flex-column justify-content-center">
                                                                                      <h6 class="mb-0 text-sm mt-3">Mon</h6>
                                                                                    </div>
                                                                                  </div>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                </td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td>
                                                                                  <div class="d-flex px-2 py-1">
                                                                                    <div class="d-flex flex-column justify-content-center">
                                                                                      <h6 class="mb-0 text-sm mt-3">Tues</h6>
                                                                                    </div>
                                                                                  </div>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                </td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td>
                                                                                  <div class="d-flex px-2 py-1">
                                                                                    <div class="d-flex flex-column justify-content-center">
                                                                                      <h6 class="mb-0 text-sm mt-3">Wednes</h6>
                                                                                    </div>
                                                                                  </div>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                </td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td>
                                                                                  <div class="d-flex px-2 py-1">
                                                                                    <div class="d-flex flex-column justify-content-center">
                                                                                      <h6 class="mb-0 text-sm mt-3">Thurs</h6>
                                                                                    </div>
                                                                                  </div>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                </td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td>
                                                                                  <div class="d-flex px-2 py-1">
                                                                                    <div class="d-flex flex-column justify-content-center">
                                                                                      <h6 class="mb-0 text-sm mt-3">Fri</h6>
                                                                                    </div>
                                                                                  </div>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                </td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td>
                                                                                  <div class="d-flex px-2 py-1">
                                                                                    <div class="d-flex flex-column justify-content-center">
                                                                                      <h6 class="mb-0 text-sm mt-3">Sat</h6>
                                                                                    </div>
                                                                                  </div>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                </td>
                                                                                <td>
                                                                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                </td>
                                                                              </tr>
                                                                            </tbody>
                                                                          </table>
                                                                        </div>
                                                
                                                                        </div>
                                                                        <!-- -------------  -->
                        
                                                                        
                                                                        
                                                                        <
                                                                        <div id="tab4" class="tab-pane">
                                                                            <div class="table-responsive pt-2">
                                                                                <table class="table align-items-center mb-0">
                                                                                  <thead>
                                                                                    <tr>
                                                                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                                                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                                                                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                                                                                    </tr>
                                                                                  </thead>
                                                                                  <tbody>
                                                                                    <tr>
                                                                                      <td>
                                                                                        <div class="d-flex px-2 py-1">
                                                                                          <div class="d-flex flex-column justify-content-center">
                                                                                            <h6 class="mb-0 text-sm mt-3">Sun</h6>
                                                                                          </div>
                                                                                        </div>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                      </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                      <td>
                                                                                        <div class="d-flex px-2 py-1">
                                                                                          <div class="d-flex flex-column justify-content-center">
                                                                                            <h6 class="mb-0 text-sm mt-3">Mon</h6>
                                                                                          </div>
                                                                                        </div>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                      </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                      <td>
                                                                                        <div class="d-flex px-2 py-1">
                                                                                          <div class="d-flex flex-column justify-content-center">
                                                                                            <h6 class="mb-0 text-sm mt-3">Tues</h6>
                                                                                          </div>
                                                                                        </div>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                      </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                      <td>
                                                                                        <div class="d-flex px-2 py-1">
                                                                                          <div class="d-flex flex-column justify-content-center">
                                                                                            <h6 class="mb-0 text-sm mt-3">Wednes</h6>
                                                                                          </div>
                                                                                        </div>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                      </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                      <td>
                                                                                        <div class="d-flex px-2 py-1">
                                                                                          <div class="d-flex flex-column justify-content-center">
                                                                                            <h6 class="mb-0 text-sm mt-3">Thurs</h6>
                                                                                          </div>
                                                                                        </div>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                                                                      </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                      <td>
                                                                                        <div class="d-flex px-2 py-1">
                                                                                          <div class="d-flex flex-column justify-content-center">
                                                                                            <h6 class="mb-0 text-sm mt-3">Fri</h6>
                                                                                          </div>
                                                                                        </div>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                      </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                      <td>
                                                                                        <div class="d-flex px-2 py-1">
                                                                                          <div class="d-flex flex-column justify-content-center">
                                                                                            <h6 class="mb-0 text-sm mt-3">Sat</h6>
                                                                                          </div>
                                                                                        </div>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                      </td>
                                                                                      <td>
                                                                                        <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                                                                      </td>
                                                                                    </tr>
                                                                                  </tbody>
                                                                                </table>
                                                                              </div>
                                                                        </div>
                        
                                                                        <div id="tab5" class="tab-pane">
                                                                            <div class="container">
                                                                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                                                                                    <div class="col mt-3">
                                                                                        <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                                                                                    </div>
                                                                                    <div class="col mt-3">
                                                                                        <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                                                                                    </div>
                                                                                    <div class="col mt-3">
                                                                                        <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                                                                                    </div>
                                                                                    <div class="col mt-3">
                                                                                        <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                                                                                    </div>
                                                                                    <div class="col mt-3">
                                                                                        <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                                                                                    </div>
                                                                                    <div class="col mt-3">
                                                                                        <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                        
                                                                    </div>
                        
                                                                    <button type="button" class="btn close mt-3" onclick="document.getElementById('request-popup-all-<%= place._id %>').style.display = 'none'">Close</button>
                        
                                                                </div>
                                                            </div>
                                                
                                                        </form>
                                
                                
                                            
                                            
                                            
                                                        
                                                        
                                                    </div>
                                                  </div>
                                                </div>
                                              <% }); %>
                                          </div>
                                      </div>
          

                      
          
            
          
                                      
                              </div>
                          </div>
                          <!-- End Top Selling -->
                          

      </div>
  </section>





</main>