<main id="main" class="main">

  <div class="pagetitle">
    <h1>Branch Request Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/auth/ownerbookings">Manage Requests Ways</a></li>
        <li class="breadcrumb-item"><a href="branchManagementBookings.html"></a> Management Requsets</li>
        <li class="breadcrumb-item active">Requsets Details</li>

      </ol>
    </nav>
  </div><!-- End Page Title -->


<%= placeowner %>
      





      <section class="section profile">
        <div class="row">
  
          <div class="col-xl-12">
  
            <div class="card">
              <div class="card-body pt-3">
                
                
                <div class="back-bar text-center">
                  <a href="/admin/auth/branchesbooking"><i class="bi bi-arrow-left-circle-fill"></i>             </a>
                </div><!-- End Search Bar -->

                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <ul class="nav nav-tabs nav-tabs-bordered">

                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#Company-overview">Company Details</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#profile-overview">Branch Details</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#services-change">Branch Services</button>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#reception-hours-change">Branch Reception Hours</button>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#Pricing-list">Branch Pricing list</button>
                    </li>
    
                  </ul>
                  <div class="tab-content pt-2">

                    <div class="tab-pane fade show active profile-overview" id="Company-overview">      

                      <div class="card-profile justify-content-center">

                      </div>


                      <div class="text-center">

                        <div class="card-body profile-card ">
                          <h5 class="card-title mb-3">Owner Picture</h5>
                          <img src="<%=ownerdetials.image%>" alt="">

                        </div>
                       
                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-person"></i> Owner Name: <span><%=ownerdetials.ownername%></span></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-building"></i> Company Name: <span><%=ownerdetials.companyname%></span></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-bookmark"></i> Company Type: <span><%=ownerdetials.type%></span></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-buildings"></i> Company Branches: <span>8</span></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-phone"></i> Phone: <span><%=ownerdetials.phone%></span></div>
                        </div>
      
                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-envelope"></i> Email: <span><%=ownerdetials.email%></span></div>
                        </div>

                      </div>

    
                    </div>
    
                    <div class="tab-pane fade show  profile-overview" id="profile-overview">      

                      <div class="card-profile">
                        <div class="card-body profile-card d-flex flex-column ">
                          <h5 class="card-title mb-3">Images</h5>

                          <div class="container-fluid">
                            <div class="scrolling-wrapper row flex-row flex-nowrap text-center">
                              

                                  <img src="<%= placeowner.images[0] %>" alt="">



                                  <img src="<%= placeowner.images[1] %>" alt="">


                                  <img src="<%= placeowner.images[2] %>" alt="">


                                  <img src="<%= placeowner.images[3] %>" alt="">


                                  <img src="<%= placeowner.images[4] %>" alt="">


                                  <img src="<%= placeowner.images[5] %>" alt="">


                                  <img src="<%= placeowner.images[6] %>" alt="">


                                  <img src="<%= placeowner.images[7] %>" alt="">


                                  <img src="<%= placeowner.images[8] %>" alt="">


                                  <img src="<%= placeowner.images[8] %>" alt="">

                              
                            </div>
                        </div>
                        </div>
                      </div>


                      <div class="justify-content-center">

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-file-text"></i> Name: <span> <%=placeowner.name%></span></div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-file-text"></i> About: <span> <%=placeowner.desc%></span></div>
                        </div>

      
                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-geo-alt"></i> Location: <a class="location" href= "<%=placeowner.adress%>"><span> <%=placeowner.city%> , <%=placeowner.area%></span></a> </div>
                        </div>
      
                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-cash"></i> Min-Budget: <span><%=placeowner.budget%></span></div>
                        </div>
      

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-person-bounding-box"></i> Capacity: <span><%=placeowner.capacity%></span></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-star"></i> Rate: <span>0</span></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-phone"></i> Branch Phone: <span><%=placeowner.phone%></span></div>
                        </div>
      
                        <div class="row">
                          <div class="col-lg-12 col-md-4 label "><i class="bi bi-file-text"></i> Branch type: <span><%=placeowner.type%></span></div>
                        </div>

                        <div class="row">
                          <div ><i class="bi bi-calendar-event"></i> Request Date: <span>23 March 2023 </span></div>
                        </div>



                       


                      </div>

    
                    </div>

                    <div class="tab-pane fade pt-3" id="services-change">
                      <h5 class="card-title text-center mb-3">Edit Services</h5>

                      <!-- Change Password Form -->
                      <form>
                        <div class="services d-flex justify-content-between">

                          

                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
  
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
  
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
  
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
    
          
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
          
  
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
  
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
  
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
  
                            <div class="row">
                              <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                            </div>
  

                        </div>
                        
                      </form><!-- End Change Password Form -->

                    </div>

                    <div class="tab-pane fade pt-3" id="reception-hours-change">

                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm mt-3">Sunday</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm mt-3">Monday</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm mt-3">Tuesday</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm mt-3">Wednesday</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm mt-3">Thursday</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm mt-3">Friday</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm mt-3">Saturday</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                              </td>
                              <td>
                                <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>


                    <div class="tab-pane fade pt-3" id="Pricing-list">

                      <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                            <div class="col mt-3">
                                <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                            </div>
                            <div class="col mt-3">
                                <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                            </div>
                            <div class="col mt-3">
                                <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                            </div>
                            <div class="col mt-3">
                                <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                            </div>
                            <div class="col mt-3">
                                <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                            </div>
                            <div class="col mt-3">
                                <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                            </div>
                        </div>
                    </div>

                    </div>

                    

                    
                  </div><!-- End Bordered Tabs -->
    
                </div>

                <div class="buttons text-center ">

                  <% if (placeowner.status === 'pending') {%> 
                    <span class="badge bg-info m-3"><%= placeowner.status %></span>
                  <%} else if(placeowner.status === 'approved') { %>                                                                                
                    <span class="badge bg-success m-3"><%= placeowner.status %></span>
                  <%} else if(placeowner.status === 'declined') { %>                                                                                
                    <span class="badge bg-warning m-3"><%= placeowner.status %></span>
                  <%} else { %>                                                                  
                  <span class="badge bg-danger m-3"><%= placeowner.status %></span>
                  <%}%>   

                  <form  method="POST" action="/admin/places/update-status/<%= placeowner.id %>">
                    <input type="hidden" name="status" value="approved">
                    <button type="submit" title="APPROVE" class="btn p-2 btn-primary me-auto ms-3 ">APPROVE</button>
                </form>
                <form  method="POST" action="/admin/places/update-status/<%= placeowner.id %>">
                    <input type="hidden" name="status" value="declined">
                    <button type="submit" title="DECLINE" class="button2 btn p-2 btn-primary main-btn ms-2">DECLINE</button>
                </form>

              </div>
              </div>


            </div>
          </div>
        </div>
      </section>

























</main>
