
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Management Company</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="companies.html">Companies</a></li>
        <li class="breadcrumb-item active">Company Details</li>

      </ol>
    </nav>
  </div><!-- End Page Title -->






      <section class="section profile">
        <div class="row">
  
          <div class="col">
  
            <div class="card">
              <div class="card-body pt-3">
                
                
                  <div class="back-bar text-center">
                      <a href="/admin/auth/companies"><i class="bi bi-arrow-left-circle-fill"></i>                   
                      </a>
                    </div><!-- End Search Bar -->



      <!-- Left side columns -->
      <div class="col">
        <div class="row">






              <div class="add-places">
                  <div class="card-body">
                      <div class="col justify-content-center">
                          <div class="row">
                            <h5 class="card-title text-center"><%=ownerdetials.companyname%></h5>


                
                            <div class="container">
                
                              <div class="row">
                               
                                  <div class="col mt-2">
                                    <h5 class="card-title text-center">Owner</h5>
                                    <div class="row">
                                  <div class="me-2">
                                  
                                   
                                    <div class="card-icon  text-center ">
                                     
                                       <img src="<%=ownerdetials.image%>" alt="">
                                      </div>
                                      <br>
                                      <br>
                                      <br>
                                      <div class="container">
                                        <div class="col fw-normal pt-2"><i class="bi bi-person fw-bold">Owner: </i> <%=ownerdetials.ownername%></div>
                                        <div class="col fw-normal pt-2"><i class="bi bi-envelope fw-bold">E-mail: </i> <%=ownerdetials.email%></div>
                                        <div class="col fw-normal pt-2"><i class="bi bi-telephone fw-bold">Phone: </i> <%=ownerdetials.phone%></div>
                                      </div>
                                        


                                    </div>

                                  </div>
                                </div>
                  
                  
                              <div class="col text-center mt-2">
                                  <div class="row">

                                    <h5 class="card-title text-center">Company</h5>

                                   
                                                                            <!-- Single Price Plan Area-->
                                                                            <div class=" text-center">
                                                                            
                                                                              <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                                                                <!-- Side Shape-->
                                                      
                                                                                <div class="card-icon text-center">
                                                                                  <img src="<%=ownerdetials.imagelogo%>" alt="">
                                                                                </div>
                                                                                <br>
                                                                                <br>
                                                                                <br>
                                                                                <div class="title  pt-2">
                                                                                  <div class="col fw-normal"><i class="bi bi-building fw-bold">Company Name: </i><%=ownerdetials.companyname%></div>
                                                                                </div>
                                                                            </div>
                                                                          
                                                                      </div>
                  
                            

                                                                      <div class="row">
                                                                        <div class="col fw-normal"><i class="bi bi-bookmark fw-bold">Company Type: </i><%=ownerdetials.type%></div>
                                                                      </div>
                                
                                                                      <div class="row">
                                                                        <div class="col fw-normal"><i class="bi bi-star fw-bold">Company Rate: </i> 0</div>
                                                                      </div>
                                
                                                                      <div class="row">
                                                                        <div class="col fw-normal"><i class="bi bi-buildings fw-bold">Company Branches: </i> 6</div>
                                                                      </div>
                                                                      

                            
                            
                            
                            
                                  </div>
                              </div>
                              </div>
                            </div>

                            
                      </div>
                    </div>
                  </div>
                </div>
    

                <h5 class="card-title text-center">Activated Branches</h5>

                


                
          
          <!-- place Card -->
          <% placesowner.forEach(function(place){ %>
          <div class="col my-4">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li><a class="dropdown-item" href="/admin/auth/branchdetials/<%= place.id %>">See Details</a></li>
                  <li><a class="dropdown-item" href="/admin/places/delete/<%= place._id %>">Delete</a></li>
                </ul>
              </div>

              <div class="card-body my-4 pb-1 text-center align-items-center">
                <div class="card-icon d-flex align-items-center justify-content-center">
                  <img src="<%=place.manager?.image%>" alt="">
                </div>

                <p class="card-description pt-4"><i class="bi bi-person"></i> <span class="fw-bold">Manager:</span><%=place.manager?.managername%></p>
                <p class="card-description pt-2"><i class="bi bi-geo-alt"></i> <span class="fw-bold">Location:</span> <%=place.city%>,<%=place.area%></p>
                <p class="card-description pt-2"><i class="bi bi-envelope"></i> <span class="fw-bold">E-mail:</span> <%=place.email%></p>
                <p class="card-description pt-2"><i class="bi bi-star"></i> <span class="fw-bold">Branch Rate:</span> 0</p>
                <p class="card-description pt-2"><i class="bi bi-upc"></i> <span class="fw-bold">Branch ID:</span> <%=place.id%></p>

              </div>

            </div>
          </div>
          <% }); %>


                      

        </div>
      </div><!-- End Left side columns -->
              </div>
            </div>
          </div>
        </div>
      </section>






</main>