      <main id="main" class="main">
  
      <div class="pagetitle">
        <h1>Partners</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Partners</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <div class="section places">
        <div class="row">
          <section class="section profile">
            <div class="row">
      
              <div class="col-xl-12">
      
                <div class="card">
                  <div class="card-body pt-3">
      
  
  
                    <div class="search-bar">
                      <form class="search-form d-flex align-items-center" method="POST" action="#">
                        <input type="text" name="query" placeholder="Search By Partner" title="Enter search keyword" id="search-input">
                        <button type="submit" title="Search" id="search"><i class="bi bi-search"></i></button>
                      </form>
                    </div><!-- End Search Bar -->
                    
  
                    <div class="filter mb-4">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li><a class="dropdown-item active" href="#">All</a></li>
                        <li><a class="dropdown-item" href="#">High Branches</a></li>
                        <li><a class="dropdown-item" href="#">Low Branches</a></li>
                      </ul>
                    </div>
      
                    <div class="tab-content pt-2">
      
                      <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <div class="card-body px-0 pt-4 pb-2">
                          <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                              <thead>
                                <tr>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Partner</th>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone</th>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Company</th>
                                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Branches</th>
                                  <th class="text-secondary opacity-7"></th>
                                </tr>
                              </thead>
                              <tbody>
                               
                                <% owners.forEach(function(owner){ %>
                                <tr>
                                  <td>
                                    <div class="d-flex px-2 py-1">
                                      <div>
                                        <img src="<%= owner.image %>" class="avatar avatar-sm me-3" alt="">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm"><%= owner.ownername %></h6>
                                        <p class="text-xs text-secondary mb-0"><%= owner.email %></p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <p class="text-xs font-weight-bold mb-0 mt-3"><%= owner.phone %></p>
                                  </td>
                                  <td>
                                    <p class="text-xs font-weight-bold mb-0"><%= owner.companyname %></p>
                                    
                                  </td>
                                  <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0">6</p>
                                  </td>
                                  <td class="align-middle">
                                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                      <!-- bne -->
                                        <li><a class="dropdown-item" href="/admin/auth/detials/<%= owner._id %>">See Details</a></li>
                                        <li><a class="dropdown-item" href="/admin/auth/delete/<%= owner._id %>">Delete</a></li>
                                      </ul>
                                  </td>
                                </tr>
                                <% }); %>
                              </tbody>
                            </table>
                          </div>
                        </div>
      
                      </div>
      
  
      
  
      
                    </div><!-- End Bordered Tabs -->
      
                  </div>
                </div>
      
              </div>
            </div>
          </section>
        </div>
      </div>
  
  
  
    </main><!-- End #main -->
  